@import "../dist/style/module/mixin";
@import "../dist/style/module/variable";
@import "../dist/style/module/global";

body {
    &.store-info-page {
        .explore-top-box {
            border-bottom: none;
        }

        .explore-container {
            height: auto;
            position: relative;
            margin-top: -15px;
            // background-color: #fff;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            z-index: 300;
        }

        .title-box {
            width: 100%;
            position: absolute;
            color: #fff;
            z-index: 100;

            .favorite {
                font-size: 24px !important;
            }
        }
    }
}

.explore-top-box {
    border-bottom: 1px #eee solid;

    .input-box {
        padding: 0 15px;
        input {
            border:0 ;
        }
    }

    .form-group {
        .input {
            margin-left: 0;

            .material-icons {
                position: static;
                transform: translate(0, 0);
                display: inline-block;
            }

            .item {
                padding: 0 10px;
                display: flex;
                background-color: #eee;
                border-radius: 5px;
            }

            input {
                border-bottom: none;
                background-color: transparent;
                padding: 0;
            }
        }
    }

    .filter-item-box {
        display: flex;
        padding: 0 15px 10px;

        .filter-item {
            flex: 1;
            text-align: center;
            color: $explore-default;

            &.active {
                color: #48a2de;

                .material-icons {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.mask-container {
    position: absolute;
}

.active{
    font-weight: bold;
}
button.active{
    color: #0056b3;
    font-size: 0.9em;
}
.explore-container {
    // height: 100vh;
    overflow: hidden;
    background-color: $default-white;
    position: relative;

    .explore-card-list {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .explore-filter-content {
        position: absolute;
        top: 0;
        bottom: 0;
        right:0;
        width: 80%;
        height: 100%;
        background-color: #fff;
        display: none;        
        .open-page-title a{
            font-size: 0.9em;
        }
        .open-page-ul label{
            line-height: 3em;
            font-weight: bold;
            font-size: 1.1em;
            padding-left: 0.5em;
        }
        .open-page-ul p{
            line-height: 3.2em;
            font-weight: 400;
            font-size: 0.9em;
            padding-left: 1em;
        }
        .open-page-ul li{
            padding-left: 1em;
            padding-right: 1em;
            line-height: 3em;
            font-size: 0.9em;
            font-weight: 400;
            border-top: 1px #C4C2C2 solid;
        }
        .open-page-ul li a:not(.active){
            color: #212529;
            font-size: 0.9em;
        }  
        .open-page-ul li button.active{
            color: #0056b3;
            font-size: 0.9em;
            font-weight: bold;
        }
        .open-page-ul img{
            height: 2em;
        }
        &.is-open {
            display: block;
        }
    }
}

.store-slider {
    height: 230px;
    position: relative;

    .slider-box,
    .slick-list,
    .slick-track,
    .img-box {
        height: inherit;
    }

    .slider_counter {
        position: absolute;
        bottom: 30px;
        right: 15px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #e5e9f2;
        border-radius: 100px;
        padding: 1px 10px;
        font-size: 14px;
    }
}

.store-info-box {
    .card-item {
        min-height: 110px;
        border-bottom: none;

        .info-box {
            padding-left: 0;

            .item-ticket {
                background: none;
                padding: 5px 0;
            }
        }
    }

    .store-tab-box {
        color: $explore-default;

        .nav-tabs {
            display: flex;

            .nav-item {
                flex: 1;
                text-align: center;
                position: relative;
            }

            .nav-link {
                &:after {
                    content: "";
                    display: none;
                    width: 25%;
                    height: 3px;
                    background-color: #4a90e2;
                    border-radius: 1px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                }

                &.active {
                    &:after {
                        display: block;
                    }
                }
            }
        }

        .store-group {
            font-size: 14px;

            .store-item {
                display: flex;
                align-items: center;
                position: relative;
                padding: 15px;
                border-bottom: 1px $gray-light solid;

                &.store-open {
                    p {
                        max-height: 94px;
                        transition: max-height 0.15s ease-out;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        padding-right: 25px;
                    }

                    .open-btn {
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                    }

                    &.is-open {
                        p {
                            max-height: 500px;
                            transition: max-height 0.25s ease-in;
                            text-overflow: unset;
                            display: -webkit-box;
                            -webkit-line-clamp: unset;
                            -webkit-box-orient: vertical;
                        }
                    }
                }

                &.store-time {
                    flex-wrap: wrap;
                    max-height: auto;
                    transition: max-height 0s ease-out;

                    .item {
                        span {
                            margin-right: 5px;
                            font-weight: 500;
                        }
                    }

                    .time-list {
                        flex: none;
                        width: 100%;
                        max-height: 0;
                        transition: max-height 0.25s ease-out;
                        overflow: hidden;
                        padding-left: 35px;

                        li {
                            display: flex;
                            justify-content: space-between;
                            line-height: 1.8;

                            &.this-day {
                                font-weight: 500;
                            }
                        }
                    }

                    &.is-open {

                        .item-icon,
                        .open-btn {
                            align-self: flex-start;
                        }

                        ul {
                            max-height: 500px;
                            transition: max-height 0.5s ease-in;
                        }
                    }
                }

                &.is-open {
                    max-height: 500px;
                    transition: max-height 0s ease-in;

                    .open-btn {
                        .material-icons {
                            transform: rotate(180deg);
                        }
                    }
                }

                .item-icon {
                    width: 25px;
                    height: 25px;
                    background-color: #4a90e2;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;

                    .material-icons {
                        font-size: 18px;
                        color: $default-white;
                    }
                }
            }
        }

        .ticket-list {
            li {
                display: flex;
                align-items: center;
                padding: 15px;
                border-bottom: 1px $gray-light solid;
            }

            .img-box {
                width: 100px;
                margin-right: 15px;

                img {
                    width: 100%;
                }
            }

            .ticket-info {
                flex: 1;
                font-size: 14px;

                .ticket-title {
                    color: #4a90e2;

                    .material-icons {
                        font-size: 18px;
                        margin-right: 3px;
                    }
                }

                .ticket-time {
                    font-size: 13px;
                }
            }
        }

        .shop-filter {
            padding: 15px;
            display: flex;
        }

        .shop-list {
            display: flex;
            flex-wrap: wrap;
            background-color: $gray-light;
            padding: 5px;

            .shop-item {
                flex: none;
                width: 49%;
                margin-bottom: 0;
                background-color: $default-white;
                padding: 15px;
                margin-bottom: 2%;

                &:nth-child(odd) {
                    margin-right: 2%;
                }

                .img-box {
                    img {
                        width: 100%;
                    }
                }

                .prod-name {
                    font-weight: 500;
                }

                .new-price {
                    color: red;
                }

                .old-price {
                    font-size: 14px;
                    color: $gray-color;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.card-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px #eee solid;
    color: $explore-default;

    // &:last-child{
    //     border-bottom: none;
    // }
    .img-box {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .info-box {
        flex: 1;
        padding-left: 15px;

        .info-list {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .info-name {
            font-size: 18px;
            font-weight: 600;
        }

        li {
            display: flex;
            align-items: center;
            font-size: 13px;
            .shopping-store-badge {
                .badge {
                    line-height: 2;
                }
            }
            &.info-near {
                margin-top: auto;
            }
        }

        .item-tag {
            display: flex;
            align-items: center;
            border: 1px solid #e5e9f2;
            padding: 1px 10px;
            border-radius: 100px;
            line-height: 1.3;
            font-size: 13px;
        }

        .item-ticket {
            padding: 1px 10px;
            background: #f2f5fa;
            border-radius: 5px;

            .material-icons {
                font-size: 18px;
            }
        }
    }
}

#map {
    height: 100%;
}

.auto-left {
    margin-left: auto;
}

/*HTML and CSS only multilevel drop down menu*/
/*-- parent nav--*/
.nav-container {
    height: 100%;
    background-color: $default-white;

    nav {
        width: 25%;
        height: inherit;

        >ul {
            width: 100%;
            height: inherit;
        }

        li {
            display: block;
            cursor: pointer;

            >a {
                display: block;
                position: relative;
                padding: 10px 15px;
                color: #555;
                text-align: center;
                font-size: 14px;
            }
        }

        // .levelOne, .levelTwo, .levelThree{
        //     overflow-y: auto;
        // }
        .levelOne {
            >li {

                &:hover {
                    background-color: #f2f5fa;
                }
            }
        }

        .levelTwo {
            width: 25%;

            >li {

                &:hover {
                    background-color: #e5e9f2;
                }
            }
        }

        .levelThree {
            width: 200%;
            height: 100%;
            background-color: #e5e9f2;

            .filter-all {
                a {
                    color: #48a2de;
                }
            }

            a {
                display: flex;
                align-items: center;

                .material-icons {
                    font-size: 18px;
                    margin-right: 5px;
                }
            }
        }
    }
}

nav>ul>li>ul {
    position: absolute;
}

nav>ul>li>ul {
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    background: #f2f5fa;
    display: none;
}

nav>ul>li>ul>li>ul {
    position: absolute;
    left: 100%;
    top: 0px;
    bottom: 0;
    display: none;
    z-index: 2;
    // background: #E5E9F2;
    bottom: 0;
    overflow: auto;
}

/*-- Display on hover--*/

nav>ul>li:hover>ul,
nav>ul>li>ul>li:hover>ul,
nav>ul>li>ul>li>ul>li:hover ul {
    display: block;
}