@import '../style/module/mixin';
@import '../style/module/variable';

body{
    &.is-open-aside{
        .more-link-aside{
            right: 0;
        }
    }
    &.fixedMenu{
        .nav-tabs{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            background-color: #fff;
            z-index: 100;
            padding: 15px;
            box-shadow: 0 5px 5px rgba(0,0,0,.2);
        }
    }
}

// kv
.kv-box{
    position: relative;
    // overflow: hidden;
    // border-radius mask
    &:before, &:after{
        content: '';
        display: block;
        width: 100px;
        height: 35px;
        position: absolute;
        bottom: -2px;
        background-size: 100% auto;
        z-index: 100;
    }
    &:before{
        left: -15px;
        background: url('../img/kv_mask_left.svg') 0 0 no-repeat;
    }
    &:after{
        right: -15px;
        background: url('../img/kv_mask_right.svg') 0 0 no-repeat;
    }
    .kv-top{
        width: calc(100% - 30px);
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        z-index: 150;
        .top-item{
            .material-icons{
                color: #fff;
            }
            &.climate{
                -webkit-flex: none;
                flex: none;
                line-height: 1;
                color: #fff;
                p{
                    font-weight: 700;
                }
                small{
                    display: block;
                    font-weight: normal;
                }
            }
            &.input-box{
                flex: 1;
                @include flexBox;
                -webkit-align-items: center;
                align-items: center;
                background-color: $default-white;
                border-radius: 10px;
                padding: 0px 10px;
                margin: 0 10px;
                box-sizing: border-box;
                input{
                    width: 100%;
                    background: transparent;
                    border: none;
                    padding: 3px 0;
                }
                .material-icons{
                    color: #8E8E93;
                    vertical-align: bottom;
                }
            }
            &.more-horiz{
                -webkit-flex: none;
                flex: none;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    top: 3px;
                    right: 0;
                    width: 8px;
                    height: 8px;
                    background-color: #C10E24;
                    border: 1px $default-white solid;
                    border-radius: 100%;
                    display: none;
                }
                .drop_menu_toggle{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: 0 auto;
                    z-index: 10;
                }
                .drop-menu{
                    position: absolute;
                    width: 125px;
                    height: 140px;
                    top: 40px;
                    right: 0;
                    background: rgba(118, 136, 176, 0.98);
                    border-radius: 3px;
                    z-index: 200;
                    padding: 15px;
                    display: none;
                    &:before{
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent rgba(118, 136, 176, 0.98) transparent;
                        position: absolute;
                        top: -10px;
                        right: 8px;
                    }
                    ul{
                        height: 100%;
                        @include flexBox;
                        justify-content: space-between;
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        li{
                            font-size: 15px;
                        }
                        a{
                            display: block;
                            color: #fff;
                            img{
                                width: 20px;
                                margin-right: 5px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                &.has-info{
                    &:after{
                        display: block;
                    }
                }
                &.is-open{
                    .drop-menu{
                        display: block;
                    }
                }
                .material-icons{
                    font-size: 36px;
                }
            }
        }
    }
    .kv-mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(180deg, rgba(126, 126, 126, 0.4) 0%, rgba(196, 196, 196, 0) 100%);
        z-index: 10;
    }
}

// 主要連結 & 自訂連結
.main-link{
    @include flexBox;
    font-size: 13px;
    margin: 10px 0;
    @media screen and (max-width: 375px){
        font-size: 12px;
    }
    &.default-link{
        .link-item{
            width: 16%;
        }
        .img-box{
            &.food{
                background: radial-gradient(50% 50% at 50% 50%, #AAE25B 0%, #44B649 100%);
            }
            &.shopping{
                background: radial-gradient(50% 50% at 50% 50%, #36D1DB 0%, #5B85E4 100%);
            }
            &.location{
                background: radial-gradient(50% 50% at 50% 50%, #05BDB6 0%, #48B1BF 100%);
            }
            &.ticket{
                background: radial-gradient(50% 50% at 50% 50%, #884371 0%, #F3904F 99.86%);
            }
            &.travel{
                background: radial-gradient(50% 50% at 50% 50%, #642A72 0%, #C6426E 100%);
            }
        }
    }
    &.edit-link{
        .link-item{
            width: 16%;
        }
        .img-box{
            padding-bottom: 50%;
        }
    }
    .link-item{
        display: block;
        color: #182B56;
        text-align: center;
        -webkit-flex: none;
        flex: none;
        margin: 0 2%;
    }
    .img-box{
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 15px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 5px;
        img{
            width: 70%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -o-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}

// 去哪玩連結
.go-where-link{
    margin: 15px 0;
    @include flexBox;
    .link-item{
        padding: 5px;
        background-color: $default-white;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        -webkit-flex: 1;
        flex: 1;
        +.link-item{
            margin-left: 10px;
        }
        .txt-box{
            text-align: right;
            margin-top: 5px;
        }
        p{
            color: #182B56;
            line-height: 1;
            font-size: 13px;
            font-weight: 900;
        }
        small{
            color: #8E8E93;
            line-height: 1;
            font-size: 12px;
        }
    }
}

// afp-tab-box
.afp-tab-box{
    .nav-tabs{
        @include flexBox;
        padding: 15px 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
        a{
            color: #8E8E93;
            text-decoration: none;

            &.active{
                font-size: 18px;
                color: #182B56;
            }
        }
    }
    .tab-content{
        .content-list{
            @include flexBox;
            flex-wrap: wrap;
            .content-item{
                width: 49%;
                margin-bottom: 15px;
                &:nth-child(2n){
                    margin-left: 2%;
                }
            }
            .img-box{
                border-radius: 5px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .item-title{
                font-size: 16px;
                color: #182B56;
            }
            .tag-list{
                overflow: hidden;
                li{
                    float: left;
                    color: #48A2DE;
                    border: 1px #48A2DE solid;
                    border-radius: 3px;
                    padding: 0 3px;
                    font-size: 12px;
                    margin-right: 5px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.more-link-aside{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 200;
    transition: .5s all;
}

.swiper-container{
    img{
        width: 100%;
    }
}