@import "../dist/style/module/mixin";
@import "../dist/style/module/variable";

.mymember {
    position: relative;
    height: 80vh;
    display: block;
}
.title-box{
    button.btn{
        color: $blue-dark;
    }
}
.member-top-box{
    position: relative;
    background-color: #F4246A;
    .title-box{
        .material-icons{
            color: $default-white;
        }
    }
    .member-info-box{
        display: flex;
        align-items: center;
        padding: 30px;
        .info-coin{
            text-align: center;
        }
        .info-item{
            display: flex;
            align-items: center;
            color: $default-white;
            font-size: 16px;
            &.info-name, &.info-coin{
                font-size: 18px;
                font-weight: 700;
            }
            &.info-coin{
                justify-content: center;
            }
        }
    }
}

.info-img{
    flex: none;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn-img{
    img{
        height: 24px;
    }
}

.member-item-group{
    position: relative;
    background-color: $default-white;
    // min-height: 37vh;
    .member-item-bg{
        position: absolute;        
        top: -1px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/$member-default+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(top,  rgba(244,36,106,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(244,36,106,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(244,36,106,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$member-default', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


    }
    .member-item-list{
        position: relative;
        z-index: 50;
        padding: 0 15px;
        background-color: $default-white;
        box-shadow: 0px 1px 4px rgba(174, 165, 165, 0.5);
        border-radius: 10px;
        .member-items{
            display: flex;
            &:first-child{
                border-bottom: 1px #eee solid;
            }
            .member-item{
                flex: 1;
                text-align: center;
                padding: 15px 10px;
                color: #333;
                p{
                    font-size: 13px;
                }
            }
            .img-box{
                margin-bottom: 5px;
            }
        }
    }
}

// 我的帳戶 & mycard
.my-list-box{
    border-top: 1px $gray-light solid;
    &.edit-list{
        ul{
            li{
                border-bottom: none;
                .item{
                    &:first-child{
                        flex: 1;
                    }
                    &:last-child{
                        flex: none;
                        width: 30px;
                        .material-icons{
                            color: $gray-color;
                        }
                    }
                }      
            }
        }
    }
    p{
        padding: 2px 15px;
        box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.15);
        background-color: #F8F8F8;
    }
    ul{
        &.my-language{
            li{
                flex-direction: column;
                align-items: flex-start;
                .item{
                    &:last-child{
                        color: $gray-color;
                    }
                }
            }
        }
        &.social-account{
            .item-img{
                width: 35px;
                height: 35px;
                margin-right: 10px;
            }
            .auto-left{
                color: $member-default;
            }
            button.msg-open{
                color: $member-default;
            }
        }
        li{
            color: $blue-dark;
            display: flex;
            align-items: center;
            padding: 15px;
            border-bottom: 1px $gray-light solid;
            .input-box{
                flex: 1;
                input{
                    background-color: #fff;
                    width: 100%;
                    border: none;
                    text-align: right;
                    color: $blue-dark;
                    border-bottom: 1px $gray-light solid;
                }
            }
            button{
                color: $blue-dark;
            }      
        }
    }    
}
div.mycardprompt{
    min-height: 50vh;
}
// 我的帳戶 - 檔案
.my-info-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 15px;
    border-top: 1px $gray-light solid;
    border-bottom: 1px $gray-light solid;
    .info-email{
        margin-top: 5px;
        color: $blue-dark;
    }
    .upload-box{
        position: relative;
        .add-btn, .change-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .change-btn{
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $default-white;
            background-color: $member-default;
            border-radius: 100%;
            box-shadow: 0 0 10px rgba(0,0,0,.5);
        }
        .add-btnbg {
            width: 130px;
        }
    }
    .passport-status{
        margin-top: -6px;
        color: $gray-color;
        .material-icons{
            font-size: 18px;
            vertical-align: sub;
        }
    }
}

// 上傳護照提示
.upload-passport-noti{
    height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    .noti-text{
        color: $blue-dark;
    }
    .img-box{
        margin: auto;
    }
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

// 照片確認
.passport-pic{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    .passport-box{
        width: 100%;
        height: 60%;
        background-color: $default-white;
    }
}
.passport-pic-status{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: $blue-dark;
    background-color: $default-white;
    .btn-group{
        margin-top: auto;
        .btn{
            margin: 0 5px;
            border-radius: 30px !important;
        }
        .outline-btn{
            border-color: $member-default;
            color: $member-default;
        }
    }
}


// 我的地址
.my-address-list{
    ul{
        li{
            padding: 15px;
            border-bottom: 1px $gray-light solid;
            display: flex;
            align-items: center;
            &:first-child{
                border-top: 1px $gray-light solid;
            }
            .item{
                &.w-84{
                    width: auto;
                    @media screen and (max-width: 570px) {
                        width: 84px;
                    }
                }
                &.default-item{
                    p{
                        color: $member-default;
                        margin-top: -10px;
                    }
                }
            }
            p{
                color: $blue-dark;
                &.small{
                    color: $gray-color;
                }
                &.small-70{
                    color: $gray-color;
                    font-size: 70%;
                }
                small{
                    margin-left: 5px;
                    color: $gray-color;
                }
            }
            input{
                background-color: #fff;
                width: 100%;
                border: none;
                text-align: right;
                color: $blue-dark;
                border-bottom: 1px $gray-light solid;
            }
        }
    }
    .add-address-btn{
        text-align: center;
        padding: 15px;
        color: $blue-dark;
        cursor: pointer;
    }
    .material-icons{
        font-size: 18px;
        vertical-align: sub;
    }
}
// 付款設定
.my-creditcard-list{
    .main-list{
        border-top: 1px $gray-light solid;
        color:$blue-dark;
        >li{
            a{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 15px;
                color:$blue-dark;
                &.collapsed{
                    .material-icons{
                        transform: rotate(180deg);
                    }
                }
            }
            .item-img, .item-icon{
                width: 32px;
                margin-right: 15px;
                img{
                    vertical-align: sub;
                }
            }
            .item-icon{
                width: 26px;
                height: 26px;
                border: 1px #ccc dotted;
                text-align: center;
                border-radius: 2px;
                .material-icons{
                    font-size: 18px;
                    vertical-align: text-top;
                }
            }
            .card-type{
                flex: 1;
            }
            .item-card-num{
                margin-right: 40px;
            }
            .item-default{
                min-width: 40px;
                color: $member-default;
                font-size: 14px;
            }
            .sub-list{
                flex: none;
                width: 100%;
                padding-left: 55px;
                li{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 15px 15px 15px 0;
                    border-top: 1px $gray-light solid;
                    // &:last-child{
                    //     border-bottom: 1px $gray-light solid;
                    // }
                    .item-dates{
                        flex: none;
                        width: 100%;
                        display: flex;
                        .item-date{
                            flex: 1;
                            padding-left: 45px;
                        }
                    }
                }
            }
        }
    }
    .setting-default{
        border-top: 1px $gray-light solid;
        border-bottom: 1px $gray-light solid;
    }
}

// 新增信用卡
.my-creditcard-info{
    padding: 30px 0;
    border-top: 1px $gray-light solid;
    border-bottom: 1px $gray-light solid;
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    label{
        color:#273D52;
        margin-bottom: 5px;
    }
    input{
        border-radius: 10px;
    }
    .setting-default{
        border: none;
    }
}

.neweb-pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    img{
        margin: 20px 0;
    }
}

.fixed-btn{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: $default-white;
    box-shadow: 0 -5px 8px rgba(0,0,0,.2);
}

// 變更密碼
.change-password-list{
    padding: 35px 15px 0;
    border-top: 1px $gray-light solid;
    ul{
        padding: 0 15px;
        margin-bottom: 60px;
        li{
            margin-bottom: 30px;
            position: relative;
            &.is-open{
                .material-icons{
                    &.visibility{
                        display: none;
                    }
                    &.visibility-off{
                        display: block;;
                    }
                }
            }      
            input{
                width: 100%;
                border: none;
                border-bottom: 1px $gray-light solid;
            }
            .text-muted{
                position: absolute;
                top: 100%;
                color: $member-default !important;
            }
            .material-icons{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: rgba(24, 43, 86, 0.5);
                &.visibility-off{
                    display: block;
                }
            }
            .password-item.toggle-visibility{
                .material-icons{
                    &.visibility-off{
                        display: none;
                    }
                }
            }
        }
    }
}

// 我的優惠
.discount-card{
    .item-img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        width: 100px;
        padding: 5px;
        border: 1px $gray-light solid;
        img{
            width: 100%;
        }
    }
    .item-info{
        flex: 1;
        margin: 0 10px;
        .info-title{
            color: $blue-dark;
            font-weight: 600;
        }
        .info-sub-title{
            color: $default-black;
        }
        .info-date, .info-status{
            font-size: 13px;
            color: $blue-dark;
        }
    }
}
// myfavorite
.favorite-explore{
    padding: 15px;    
    a.item-explore {
        border-bottom: 1px #eee solid;
        color: $explore-default;
    }
    .img-box {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
        margin: .5em;
        img {
            width: 100%;
        }
    }
    .item-del{
        font-size: small;
        white-space: nowrap;
        padding: 1em;
        color: #fff;
        background: $member-default;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #fff;
    }
    .info-box {
        flex: 1;
        margin: .5em;
        .text-member {
            color: $member-default;
        }
        .info-list {
            height: 100%;
            display: flex;
            flex-direction: column;            
        }

        .info-name {
            font-weight: 600;
            font-size: 1em;
        }

        li {
            font-size: small;
        }          
        .item-tag{
            margin: 5px 5px 5px 0;
            margin-right: 5px;
            color: $member-default;
            border-color: $member-default;
        }
        .item-ticket {
            font-size: xx-small;
            color: $member-default;
            padding: 0 6px;
            background: transparent;
            border-radius: 10rem;
            border-top: 1px solid $member-default;
            border-bottom: 1px solid $member-default;
            border-left: 1px solid $member-default;
            border-right: 1px solid $member-default;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px;
            img {
                height: 2.3em;
            }
        }        
        .price-asking{
            color: tomato;
            font-size: 1.2em;
            font-weight: 700;
        }
        .price-original{
            color: gray;
            text-decoration: line-through;
        }
        .info-province{
            font-size: small;
            color: gray;
        }
    }
}
// fixed button bottom
.fixed-btn{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: $default-white;
    box-shadow: 0 -5px 8px rgba(0,0,0,.2);
}

/* totop arrow 40px */
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: auto 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
    bottom: 1rem;
    left: 80%;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: $member-default;
	position: absolute;
    content: "";
    top:50%;
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}


// other sharing
.member-select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;  
    background: url("/img/member/forward.svg") no-repeat right center transparent;
    width: 100%;
    border: none;
    border-bottom: 1px #eee solid;
    height: 2em;
    padding: .25em 2em;
    color:#182B56;
  }
  .member-select::-ms-expand { 
    display: none; 
  }
  .member-select:focus{
    box-shadow: 0 0 5px 2px #eee;    
    border-radius: .25em;
  }

.note-box{    
    border-top: 5px #f8f8f8 solid;
    .note-item{
        border-top: 1px $gray-light solid;
        border-bottom: 1px $gray-light solid;
        padding: 15px;
        background-color: #fff;
        font-size: 90%;
    }
}   
.auto-left{
    margin-left: auto;
    text-align: right;
    right: 10px;
    position: absolute; 
}
#open-mask.modal-backdrop {
    z-index: 1040;
}
.outline-btn{
    border-color: $member-default;
    color: $member-default;
}

// member clause&private
.member-body {
    padding: .5em;
    text-align: justify;
    text-justify: auto;
    ul{
        padding: .5em 0 .25em 0;
        font-weight: 700;
    }
    li{
        font-weight: 400;
    }
    h6{
        padding: .5em 0 .25em 0;
        font-weight: 700;
    }
}

// member coin
.coin-box {
    margin: .25em 2em;
    padding: 1em;
    color: #fff;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.3);
}
img.coinimg-m{
    width: 1.2em;
    margin: 4px;
}
.item-btn{
    display: flex;
    text-align: center;
    padding: 3px 15px;
    border-radius: 100px;
    align-self: center;
    &.not-use{
        color: $gray-color;
        border-color: $gray-light;
    }
    &.small{
        font-size: small;
    }
}
.btn-outline-white{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    background-image: none;
    border-color:  #fff;
    border-radius: 30px;
  }
.rwdimg.logo-img{
    //border: 1px $gray-light solid;
    width: 80px;
    height: 80px;
    @media screen and (max-width: 571px) {            
        width: 60px;
        height: 60px;
    }   
}

.sortlayer{
    background-color:transparent;
    &>div{
        background-color:transparent;
        li.active>div{
            color: $onlineshopping-default;
        }
    }
}

.w-10{
    width: 10%;
  }
  .w-90{
    width: 90%;
  }