@import "../dist/style/module/mixin";
@import "../dist/style/module/variable";
@import "../dist/style/module/global";

.member-top-box{
    position: relative;
    background-color: $member-default;
    .title-box{
        .material-icons{
            color: $default-white;
        }
    }
    .member-info-box{
        display: flex;
        align-items: center;
        padding: 30px;
        .info-coin{
            text-align: center;
        }
        .info-item{
            display: flex;
            align-items: center;
            color: $default-white;
            font-size: 16px;
            &.info-name, &.info-coin{
                font-size: 18px;
                font-weight: 700;
            }
            &.info-coin{
                justify-content: center;
            }
        }
    }
}

.info-img{
    flex: none;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn-img{
    img{
        height: 24px;
    }
}

.member-item-group{
    position: relative;
    background-color: $default-white;
    min-height: 37vh;
    .member-item-bg{
        position: absolute;        
        top: -1px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f4246a+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(top,  rgba(244,36,106,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(244,36,106,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(244,36,106,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4246a', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


    }
    .member-item-list{
        position: relative;
        z-index: 50;
        padding: 0 15px;
        background-color: $default-white;
        box-shadow: 0px 1px 4px rgba(174, 165, 165, 0.5);
        border-radius: 10px;
        .member-items{
            display: flex;
            &:first-child{
                border-bottom: 1px #eee solid;
            }
            .member-item{
                flex: 1;
                text-align: center;
                padding: 15px 10px;
                color: #333;
                p{
                    font-size: 13px;
                }
            }
            .img-box{
                margin-bottom: 5px;
            }
        }
    }
}

// 我的帳戶 & mycard
.my-list-box{
    border-top: 1px $gray-light solid;
    &.edit-list{
        ul{
            li{
                border-bottom: none;
                .item{
                    &:first-child{
                        flex: 1;
                    }
                    &:last-child{
                        flex: none;
                        width: 30px;
                        .material-icons{
                            color: $gray-color;
                        }
                    }
                }      
            }
        }
    }
    p{
        padding: 2px 15px;
        box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.15);
        background-color: #F8F8F8;
    }
    ul{
        &.my-language{
            li{
                flex-direction: column;
                align-items: flex-start;
                .item{
                    &:last-child{
                        color: $gray-color;
                    }
                }
            }
        }
        &.social-account{
            .item-img{
                width: 35px;
                height: 35px;
                margin-right: 10px;
            }
            .auto-left{
                color: #F4246A;
            }
            button.msg-open{
                color: #F4246A;
            }
        }
        li{
            color: $blue-dark;
            display: flex;
            align-items: center;
            padding: 15px;
            border-bottom: 1px $gray-light solid;
            .input-box{
                flex: 1;
                input{
                    background-color: #fff;
                    width: 100%;
                    border: none;
                    text-align: right;
                    color: $blue-dark;
                    border-bottom: 1px $gray-light solid;
                }
            }      
        }
    }    
}

// 我的帳戶 - 檔案
.my-info-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 15px;
    border-top: 1px $gray-light solid;
    border-bottom: 1px $gray-light solid;
    .info-email{
        margin-top: 5px;
        color: $blue-dark;
    }
    .upload-box{
        position: relative;
        .add-btn, .change-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .change-btn{
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $default-white;
            background-color: #F4246A;
            border-radius: 100%;
            box-shadow: 0 0 10px rgba(0,0,0,.5);
        }
        .add-btnbg {
            width: 130px;
        }
    }
    .passport-status{
        margin-top: -6px;
        color: $gray-color;
        .material-icons{
            font-size: 18px;
            vertical-align: sub;
        }
    }
}

// 上傳護照提示
.upload-passport-noti{
    height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    .noti-text{
        color: $blue-dark;
    }
    .img-box{
        margin: auto;
    }
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

// 照片確認
.passport-pic{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    .passport-box{
        width: 100%;
        height: 60%;
        background-color: $default-white;
    }
}
.passport-pic-status{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: $blue-dark;
    background-color: $default-white;
    .btn-group{
        margin-top: auto;
        .btn{
            margin: 0 5px;
            border-radius: 30px !important;
        }
        .outline-btn{
            border-color: #F4246A;
            color: #F4246A;
        }
    }
}


// 我的地址
.my-address-list{
    ul{
        li{
            padding: 15px;
            border-bottom: 1px $gray-light solid;
            display: flex;
            align-items: center;
            &:first-child{
                border-top: 1px $gray-light solid;
            }
            .item{
                &.w-84{
                    width: auto;
                    @media screen and (max-width: 570px) {
                        width: 84px;
                    }
                }
                &.default-item{
                    p{
                        color: #F4246A;
                        margin-top: -10px;
                    }
                }
            }
            p{
                color: $blue-dark;
                &.small{
                    color: $gray-color;
                }
                &.small-70{
                    color: $gray-color;
                    font-size: 70%;
                }
                small{
                    margin-left: 5px;
                    color: $gray-color;
                }
            }
            input{
                background-color: #fff;
                width: 100%;
                border: none;
                text-align: right;
                color: $blue-dark;
                border-bottom: 1px $gray-light solid;
            }
        }
    }
    .add-address-btn{
        text-align: center;
        padding: 15px;
        color: $blue-dark;
        cursor: pointer;
    }
    .material-icons{
        font-size: 18px;
        vertical-align: sub;
    }
}
// 付款設定
.my-creditcard-list{
    .main-list{
        border-top: 1px $gray-light solid;
        color:$blue-dark;
        >li{
            a{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 15px;
                color:$blue-dark;
                &.collapsed{
                    .material-icons{
                        transform: rotate(180deg);
                    }
                }
            }
            .item-img, .item-icon{
                width: 32px;
                margin-right: 15px;
                img{
                    vertical-align: sub;
                }
            }
            .item-icon{
                width: 26px;
                height: 26px;
                border: 1px #ccc dotted;
                text-align: center;
                border-radius: 2px;
                .material-icons{
                    font-size: 18px;
                    vertical-align: text-top;
                }
            }
            .card-type{
                flex: 1;
            }
            .item-card-num{
                margin-right: 40px;
            }
            .item-default{
                min-width: 40px;
                color: #F4246A;
                font-size: 14px;
            }
            .sub-list{
                flex: none;
                width: 100%;
                padding-left: 55px;
                li{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 15px 15px 15px 0;
                    border-top: 1px $gray-light solid;
                    // &:last-child{
                    //     border-bottom: 1px $gray-light solid;
                    // }
                    .item-dates{
                        flex: none;
                        width: 100%;
                        display: flex;
                        .item-date{
                            flex: 1;
                            padding-left: 45px;
                        }
                    }
                }
            }
        }
    }
    .setting-default{
        border-top: 1px $gray-light solid;
        border-bottom: 1px $gray-light solid;
    }
}

// 新增信用卡
.my-creditcard-info{
    padding: 30px 0;
    border-top: 1px $gray-light solid;
    border-bottom: 1px $gray-light solid;
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    label{
        color:#273D52;
        margin-bottom: 5px;
    }
    input{
        border-radius: 10px;
    }
    .setting-default{
        border: none;
    }
}

.neweb-pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    img{
        margin: 20px 0;
    }
}

.fixed-btn{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: $default-white;
    box-shadow: 0 -5px 8px rgba(0,0,0,.2);
}

// 變更密碼
.change-password-list{
    padding: 35px 15px 0;
    border-top: 1px $gray-light solid;
    ul{
        padding: 0 15px;
        margin-bottom: 60px;
        li{
            margin-bottom: 30px;
            position: relative;
            &.is-open{
                .material-icons{
                    &.visibility{
                        display: none;
                    }
                    &.visibility-off{
                        display: block;;
                    }
                }
            }      
            input{
                width: 100%;
                border: none;
                border-bottom: 1px $gray-light solid;
            }
            .text-muted{
                position: absolute;
                top: 100%;
                color: #F4246A !important;
            }
            .material-icons{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: rgba(24, 43, 86, 0.5);
                &.visibility-off{
                    display: block;
                }
            }
            .password-item.toggle-visibility{
                .material-icons{
                    &.visibility-off{
                        display: none;
                    }
                }
            }
        }
    }
}

// fixed button bottom
.fixed-btn{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: $default-white;
    box-shadow: 0 -5px 8px rgba(0,0,0,.2);
}

// other sharing
.text-pink{
    color: #F4246A;
}   
.note-box{    
    border-top: 5px #eee solid;
    .note-item{
        border-top: 1px $gray-light solid;
        border-bottom: 1px $gray-light solid;
        padding: 15px;
        background-color: #fff;
        font-size: 90%;
    }
}   
.auto-left{
    margin-left: auto;
    text-align: right;
    right: 10px;
    position: absolute; 
}
#open-mask.modal-backdrop {
    z-index: 1040;
}
.outline-btn{
    border-color: #F4246A;
    color: #F4246A;
}

// member clause&private
.member-body {
    padding: .5em;
    text-align: justify;
    text-justify: auto;
    ul{
        padding: .5em 0 .25em 0;
        font-weight: 700;
    }
    li{
        font-weight: 400;
    }
    h6{
        padding: .5em 0 .25em 0;
        font-weight: 700;
    }
}

// member coin
.coin-box {
    margin: .25em 2em;
    padding: 1em;
    color: #fff;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.3);
    img.coinimg-m{
        width: 20px;
        margin: 4px;
    }
}
.member-bnbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    div{  
        flex: 1;      
        border-radius: 1rem;
        padding-bottom: .5em;
        img{
            border-radius: .5em;
        }
    }
}
@media screen and (min-width: 571px) {
    .member-bnbox{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
            div{  
                flex: 0 50%; 
                border-radius: 1rem;
                padding-right: .5em;
            }
    }
}