@import "../dist/style/module/mixin";
@import "../dist/style/module/variable";

.bg-mission{
    background: $mission-color;
}
.text-mission{
    font-size: .9em;
    color: $mission-color;
}
.luckspin-box{
    background: #418BBD;
    padding-bottom: .5em;
    .luckspin-top{
        padding: 1.2em 0;
        background: transparent !important;
        position: relative;
        img{
            height: 2em;
        }
        .conopybox{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 40px;
            display: flex;
            overflow: hidden;
            justify-content: center;
        }
        .canopy-l{
            background-image: url('../../img/mission/canopy_l.png');
            background-position: right;
            background-repeat: repeat-x;
            background-size: contain;
            flex:auto;
            height: 40px;
            min-width: 92px;
            @media (max-width: 375px) {
                display:none;
            }
        }
        .canopy-c{
            background-image: url('../../img/mission/canopy_c.png');
            background-position: center;
            background-repeat: repeat-x;
            background-size: contain;
            min-width: 383px;
            height: 40px;
            @media (max-width: 375px) {
                width: 100%;
                height: 40px;
            }
        }
        .canopy-r{
            background-image: url('../../img/mission/canopy_r.png');            
            background-position: left;
            background-repeat: repeat-x;
            background-size: contain;
            flex:auto;
            height: 40px;
            min-width: 92px;
            @media (max-width: 375px) {
                display:none;
            }
        }
    }
    .luckspin-cont{
        background: $mission-color;
        padding: .75em;
        margin: 0 auto;
        border-radius: .25em;
        max-width: 800px; 
        .luckspin-contbox{
            background: gray;
            padding: .5em;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            font-size: 1em;
            &.no9{
                grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width: 375px) {
                font-size: x-small;
                grid-column-gap: 2px;
                grid-row-gap: 2px;
            }
            div{
                padding: .5em;
                background: #fff;
                border-radius: .25em;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                opacity: 1;
                border: 4px solid gray;
                border-radius: 0.75em;
                img{
                    width: auto;
                    max-width: 120px;
                    @media (max-width: 767px) {
                        max-width: 80px;
                    }
                    @media (max-width: 480px) {
                        max-width: 50px;
                    }
                }
            }
            .contbox.opacity5{
                animation-name: pinpon;
                animation-duration: 3s;
                animation-timing-function: ease-in;
                animation-delay: 1s;    
                animation-iteration-count: infinite;
            }              
            .playbox9{
                background: transparent;
                padding: 0;
                img{
                    max-width: 100%;
                }
            }
            .playbox{
                #rundot{
                    background: transparent;
                    position: absolute;
                    width: 255px;
                    height: 235px;    
                    @media (max-width: 767px) {
                        width: 210px;
                        height: 190px;    
                    }
                    @media (max-width: 480px) {
                        width: 135px;
                        height: 123px;    
                    }                     
                    div{
                        border-radius: 50%;
                        height: 28px;
                        width: 28px;
                        position: absolute;                        
                        animation-name: pinpon;
                        animation-timing-function: ease-in;
                        animation-iteration-count: infinite;   
                        @media (max-width: 767px) {     
                            height: 22px;
                            width: 22px;        
                            animation-name: pinpon767;
                        }
                        @media (max-width: 480px) {       
                            height: 18px;
                            width: 18px;              
                            animation-name: pinpon480;
                        }                                           
                        &.dot {
                            background: red;
                            animation-duration: 3s;
                            animation-delay: 1s;    
                        }
                        &.dot1 {
                            background: green;
                            animation-duration: 2s;
                            animation-delay: 2s;    
                        }
                        &.dot2 {
                            background: yellow;
                            animation-duration: 1s;
                            animation-delay: 3s;  
                        }
                    }
                    @keyframes pinpon {  
                        0% {
                          left: 0;
                          top: 0;
                          border: 4px solid #89ff00;
                        }                      
                        25% {
                          left: 220px;
                          top: 0px;
                          border: 4px solid #ff0000;
                        }                      
                        50% {
                          left: 220px;
                          top: 200px;
                          border: 4px solid #00ffff;
                        }                      
                        75% {
                          left: 0px;
                          top: 200px;
                          border: 4px solid #e100ff;
                        }                        
                        100% {
                          left: 0;
                          top: 0;
                          border: 4px solid #002fff;
                        }
                    }          
                    @keyframes pinpon767 {  
                        0% {
                          left: 0;
                          top: 0;
                          border: 4px solid #89ff00;
                        }                      
                        25% {
                          left: 175px;
                          top: 0px;
                          border: 4px solid #ff0000;
                        }                      
                        50% {
                          left: 175px;
                          top: 158px;
                          border: 4px solid #00ffff;
                        }                      
                        75% {
                          left: 0px;
                          top: 158px;
                          border: 4px solid #e100ff;
                        }                        
                        100% {
                          left: 0;
                          top: 0;
                          border: 4px solid #002fff;
                        }
                    }                                    
                    @keyframes pinpon480 {  
                        0% {
                          left: 0;
                          top: 0;
                          border: 3px solid #89ff00;
                        }                      
                        25% {
                          left: 108px;
                          top: 0px;
                          border: 3px solid #ff0000;
                        }                      
                        50% {
                          left: 108px;
                          top: 98px;
                          border: 3px solid #00ffff;
                        }                      
                        75% {
                          left: 0px;
                          top: 98px;
                          border: 3px solid #e100ff;
                        }                        
                        100% {
                          left: 0;
                          top: 0;
                          border: 3px solid #002fff;
                        }
                    }                   
                }
                #playagain{         
                    z-index: 1;  
                    position: absolute;
                    img{
                        @media (max-width: 767px) {
                            max-width: 200px;
                        }
                        @media (max-width: 480px) {
                            max-width: 160px;
                        }
                        @media (max-width: 375px) {
                            max-width: 120px;
                        }
                        @media (min-width: 768px) {
                            max-width: 250px;
                        }
                    }
                }
                background: transparent;
                grid-column-start: 2;
                grid-column-end:4;
                grid-row-start: 2;
                grid-row-end:4;
                position: relative;
            }
        }
    }
}
.mobiicoin-num{
    font-size: 1.2em;
    font-weight: 700;
    color: $index-default;
}
.brder-mission{
    border-bottom: 4px solid #418BBD;
    border-right: 4px solid #418BBD;
    border-left: 4px solid #0A3450;
    border-top: 1px solid #0A3450;
}
.mission-personal{
    background: $mission-color;
    color: white;
    padding: 1em 1.5em;
    .item{
        margin-bottom: .5em;
        &:last-child{
            margin-bottom: 0;
        }
        &.coin{
            font-size: 1.3em;
            font-weight: 500;
        }
        &.progress{
            height: .5em;
            border-radius: 30px;
        }
        &.task{
            font-size: .9em;
        }        
        .info-img{
            flex: none;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 15px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.winmsg{
    text-align: center;
    align-items: center;
    justify-content: center;
    .winbox{
        background-image: url('../../img/mission/bg-win.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        .wincontbox{
            background-color: #fff;
            text-align: center;;
            align-items: center;
            border: 1px solid #f8f8f8;
            border-radius: .5em;
            padding: 1em;
            margin: 2em 1em;
            box-shadow: 5px 10px 8px #eee;       
            img{
                max-width: 100px;
            } 
        }
    }
}

.img-box {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    margin: .5em;
    img {
        width: 100%;
    }
}

.ms-item{
    border-bottom: 1px solid #eee;
}
.info-box {
    color: $blue-dark;
    flex: 1;
    margin: .5em;
    .info-list {
        height: 100%;
        display: flex;
        flex-direction: column;            
    }
    .info-name {
        font-weight: 600;
        font-size: 1em;
    }
    li {
        font-size: small;
        span.num{
            color: $index-default;
            font-size: 1.4em;
            font-weight: 600;
        }
    }        
}

/* footer */
.fixed-btn{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: $default-white;
    box-shadow: 0 -5px 8px rgba(0,0,0,.2);
}

.luckspin-rules{
    .rulescontext{
        padding: 1em;
        label{
            font-weight: 700;
        }
        ul{
            padding: 0 1em 1em 1em; 
            li{
                font-size: small;
            }
        }
    }
}