@import "../dist/style/module/mixin";
@import "../dist/style/module/variable";

.mission-personal{
    background: $mission-color;
    color: white;
    padding: 1em 1.5em;
    .item{
        margin-bottom: .5em;
        &:last-child{
            margin-bottom: 0;
        }
        &.coin{
            font-size: 1.3em;
            font-weight: 500;
        }
        &.progress{
            height: .5em;
            border-radius: 30px;
        }
        &.task{
            font-size: .9em;
        }        
        .info-img{
            flex: none;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 15px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.img-box {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    margin: .5em;
    img {
        width: 100%;
    }
}

.ms-item{
    border-bottom: 1px solid #eee;
}
.info-box {
    color: $blue-dark;
    flex: 1;
    margin: .5em;
    .info-list {
        height: 100%;
        display: flex;
        flex-direction: column;            
    }
    .info-name {
        font-weight: 600;
        font-size: 1em;
    }
    li {
        font-size: small;
        span.num{
            color: $index-default;
            font-size: 1.4em;
            font-weight: 600;
        }
    }        
}

/* footer */
.fixed-btn{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: $default-white;
    box-shadow: 0 -5px 8px rgba(0,0,0,.2);
}