/* searchbar input */
@media (max-width: 767px) {
  /* line 7, shopping-index.scss */
  .kv-box .kv-top {
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#E44D26), to(#F06428));
    position: absolute;
    top: 0;
    margin: 0 auto;
    padding: 1.1em .5em 1em .5em;
    z-index: 150; }

  /* line 16, shopping-index.scss */
  .kv-box .kv-top .top-item.input-box {
    border-radius: 10px;
    padding: 5px;
    background: #fff; } }
/* shopping main */
/* line 23, shopping-index.scss */
h6 {
  margin-top: 1em;
  font-weight: bold; }

/* line 27, shopping-index.scss */
.onlineshopping-btn {
  background: #FD5F00;
  border-radius: 30px;
  color: #fff; }

/* line 32, shopping-index.scss */
.border-t5 {
  border-top: 5px #f8f8f8 solid; }

/* line 35, shopping-index.scss */
a {
  color: #182B56; }
  /* line 37, shopping-index.scss */
  a:hover {
    color: #FD5F00; }

/* line 41, shopping-index.scss */
.onlineshopping-sort.multilayer {
  background-color: rgba(0, 0, 0, 0.5); }
  /* line 43, shopping-index.scss */
  .onlineshopping-sort.multilayer > div {
    background-color: transparent; }
    /* line 45, shopping-index.scss */
    .onlineshopping-sort.multilayer > div li.active > div {
      color: #FD5F00; }

/* shopping-bigbnbox header height*/
/* line 51, shopping-index.scss */
#shopping-bigbnbox {
  padding-top: 70px; }

/* shopping-iconbox */
/* line 57, shopping-index.scss */
#shopping-iconbox .swiper-container {
  background-color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto; }
/* line 69, shopping-index.scss */
#shopping-iconbox .swiper-wrapper {
  display: -moz-inline-box;
  display: -webkit-inline-box; }
/* line 73, shopping-index.scss */
#shopping-iconbox .swiper-slide {
  text-align: center;
  background: #fff;
  height: calc((100% - 30px) / 2);
  padding: 0.5em 0;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  /* line 92, shopping-index.scss */
  #shopping-iconbox .swiper-slide .icon-txt {
    color: #333; }
  /* line 95, shopping-index.scss */
  #shopping-iconbox .swiper-slide img {
    width: auto;
    height: 5em; }
/* line 100, shopping-index.scss */
#shopping-iconbox .swiper-pagination-bullets {
  bottom: 0px;
  left: 0;
  width: 100%; }

@media (max-width: 767px) {
  /* line 109, shopping-index.scss */
  #shopping-iconbox .swiper-slide .icon-txt {
    font-size: small; }
  /* line 112, shopping-index.scss */
  #shopping-iconbox .swiper-slide img {
    width: auto;
    height: 3.5em; } }
@media (max-width: 480px) {
  /* line 122, shopping-index.scss */
  #shopping-iconbox .swiper-slide .icon-txt {
    font-size: xx-small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  /* line 128, shopping-index.scss */
  #shopping-iconbox .swiper-slide img {
    width: auto;
    height: 2.5em; } }
/* shopping flex */
/* line 136, shopping-index.scss */
.shopping-flex {
  width: 100%;
  display: flex;
  align-items: center; }
  /* line 140, shopping-index.scss */
  .shopping-flex div.item {
    flex: 1; }
    /* line 142, shopping-index.scss */
    .shopping-flex div.item.one {
      flex-grow: 1; }
    /* line 145, shopping-index.scss */
    .shopping-flex div.item.two {
      flex-grow: 2; }
    /* line 148, shopping-index.scss */
    .shopping-flex div.item.three {
      flex-grow: 3; }
    /* line 151, shopping-index.scss */
    .shopping-flex div.item.four {
      flex-grow: 4; }

/* shopping-adbn */
/* line 158, shopping-index.scss */
.shopping-adimgbox .rwdimg-h20 {
  border-radius: 0.5em; }

/* shopping discount */
/* line 163, shopping-index.scss */
.main-discount-box {
  position: relative;
  padding: 15px; }
  /* line 166, shopping-index.scss */
  .main-discount-box .discount-top-bg {
    height: 26px;
    background: #D9A77A;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px;
    margin: 0 -10px; }
    /* line 173, shopping-index.scss */
    .main-discount-box .discount-top-bg .line {
      height: 10px;
      background: #828282;
      border-radius: 5px; }
  /* line 179, shopping-index.scss */
  .main-discount-box .discount-content {
    margin-top: -12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    position: relative; }
    /* line 186, shopping-index.scss */
    .main-discount-box .discount-content .discount-price {
      position: absolute;
      top: 10px;
      left: 0;
      background: radial-gradient(50% 50% at 50% 50%, #E44D26 0%, #F06428 100%);
      padding: 2px 5px;
      color: #fff; }
      /* line 193, shopping-index.scss */
      .main-discount-box .discount-content .discount-price:before, .main-discount-box .discount-content .discount-price:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        right: -10px; }
      /* line 202, shopping-index.scss */
      .main-discount-box .discount-content .discount-price:before {
        border-width: 14px 10px 0 0;
        border-color: #F06428 transparent transparent transparent;
        top: 0; }
      /* line 207, shopping-index.scss */
      .main-discount-box .discount-content .discount-price:after {
        border-width: 14px 0 0 10px;
        border-color: transparent transparent transparent #F06428;
        bottom: 0; }
    /* line 213, shopping-index.scss */
    .main-discount-box .discount-content .img-box {
      text-align: center; }
    /* line 216, shopping-index.scss */
    .main-discount-box .discount-content .discount-info-box {
      display: flex;
      justify-content: space-between;
      color: #182B56;
      margin: 10px 0 0; }
      /* line 221, shopping-index.scss */
      .main-discount-box .discount-content .discount-info-box .item {
        font-size: 13px; }
        /* line 223, shopping-index.scss */
        .main-discount-box .discount-content .discount-info-box .item img {
          width: 15px;
          vertical-align: sub;
          margin-right: 5px; }
      /* line 230, shopping-index.scss */
      .main-discount-box .discount-content .discount-info-box p:first-child {
        font-weight: 700; }
      /* line 233, shopping-index.scss */
      .main-discount-box .discount-content .discount-info-box p:last-child {
        font-size: 18px;
        color: #333; }
    /* line 239, shopping-index.scss */
    .main-discount-box .discount-content .discount-desc {
      margin: 15px 0;
      text-align: center;
      color: #4A90E2;
      font-weight: 700;
      cursor: pointer; }
      /* line 245, shopping-index.scss */
      .main-discount-box .discount-content .discount-desc .material-icons {
        vertical-align: top; }

/* line 251, shopping-index.scss */
.other-discount-list {
  background: #f8f8f8;
  padding: 0; }
  /* line 254, shopping-index.scss */
  .other-discount-list .discount-more {
    color: #182B56;
    text-align: right;
    font-size: 0.8em;
    padding: 0 2px 4px 0; }
  /* line 260, shopping-index.scss */
  .other-discount-list .discount-box {
    padding-right: 15px;
    padding-left: 0px; }
    /* line 263, shopping-index.scss */
    .other-discount-list .discount-box:nth-child(2n+0) {
      padding-right: 0px;
      padding-left: 0px; }
    @media (max-width: 767px) {
      /* line 260, shopping-index.scss */
      .other-discount-list .discount-box {
        padding-right: 0px;
        padding-left: 0px; } }
  /* line 272, shopping-index.scss */
  .other-discount-list .discount-item {
    background: #fff;
    display: flex;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 12px 10px; }
    /* line 279, shopping-index.scss */
    .other-discount-list .discount-item .item {
      flex: none;
      display: flex;
      align-items: center; }
      /* line 283, shopping-index.scss */
      .other-discount-list .discount-item .item:nth-of-type(2) {
        flex: 1;
        margin-left: 10px; }
      /* line 287, shopping-index.scss */
      .other-discount-list .discount-item .item:last-child {
        margin-left: auto;
        position: relative;
        padding: 10px;
        padding-right: 0; }
        /* line 292, shopping-index.scss */
        .other-discount-list .discount-item .item:last-child .line-box {
          display: block;
          width: 1px;
          height: 70%;
          background-color: #eee;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%); }
        /* line 302, shopping-index.scss */
        .other-discount-list .discount-item .item:last-child .circle {
          position: absolute;
          width: 17px;
          height: 17px;
          background-color: #f8f8f8;
          left: -8px; }
          /* line 308, shopping-index.scss */
          .other-discount-list .discount-item .item:last-child .circle.circle-top {
            top: -24px; }
          /* line 311, shopping-index.scss */
          .other-discount-list .discount-item .item:last-child .circle.circle-bottom {
            bottom: -24px; }
        /* line 315, shopping-index.scss */
        .other-discount-list .discount-item .item:last-child:before, .other-discount-list .discount-item .item:last-child:after {
          content: "";
          width: 17px;
          height: 10px;
          background: #f8f8f8;
          border-bottom: none;
          border-radius: 8px 8px 0 0;
          position: absolute;
          z-index: 50;
          left: -8px; }
        /* line 326, shopping-index.scss */
        .other-discount-list .discount-item .item:last-child:before {
          top: -15px;
          transform: rotate(180deg);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15); }
        /* line 331, shopping-index.scss */
        .other-discount-list .discount-item .item:last-child:after {
          bottom: -15px;
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15); }
      /* line 336, shopping-index.scss */
      .other-discount-list .discount-item .item .img-box {
        width: 80px;
        border: 1px #eee solid;
        padding: 10px 5px;
        border-radius: 5px; }
        @media (max-width: 480px) {
          /* line 336, shopping-index.scss */
          .other-discount-list .discount-item .item .img-box {
            width: 60px; } }
      /* line 345, shopping-index.scss */
      .other-discount-list .discount-item .item img {
        width: 100%; }
      /* line 348, shopping-index.scss */
      .other-discount-list .discount-item .item .default-btn {
        margin-top: 0;
        border-radius: 100px;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: bold; }
    /* line 356, shopping-index.scss */
    .other-discount-list .discount-item .discount-text {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: #182B56; }
      /* line 362, shopping-index.scss */
      .other-discount-list .discount-item .discount-text p:first-child {
        font-weight: 700; }
      /* line 365, shopping-index.scss */
      .other-discount-list .discount-item .discount-text p:last-child {
        width: 100%;
        font-size: 14px; }
      /* line 369, shopping-index.scss */
      .other-discount-list .discount-item .discount-text p .material-icons {
        font-size: 14px; }

/* shopping products */
/* line 378, shopping-index.scss */
.shopping-products {
  overflow: hidden;
  padding: 1em .2em;
  width: auto; }
  /* line 382, shopping-index.scss */
  .shopping-products .products-img .img-box {
    border-radius: .5em;
    border: 1px solid #eee; }
    /* line 385, shopping-index.scss */
    .shopping-products .products-img .img-box .rwdimg {
      border-radius: .5em; }
  /* line 389, shopping-index.scss */
  .shopping-products .products-title {
    color: #182B56;
    font-weight: bold;
    padding: 0 0.5em; }
  /* line 394, shopping-index.scss */
  .shopping-products .products-price {
    padding: 0 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center; }
    /* line 403, shopping-index.scss */
    .shopping-products .products-price .price-asking {
      color: tomato;
      font-weight: bold;
      font-size: 1.1em; }
    /* line 408, shopping-index.scss */
    .shopping-products .products-price .price-original {
      color: gray;
      text-decoration: line-through;
      text-align: bottom;
      font-size: 0.8em;
      text-align: right; }
      @media (max-width: 767px) {
        /* line 408, shopping-index.scss */
        .shopping-products .products-price .price-original {
          display: none; } }

/* products-list.html (masonry) */
/* line 429, shopping-index.scss */
.products-listbox {
  background: #f8f8f8;
  padding-top: 1em;
  padding-left: 4%;
  margin: 0 auto; }
  /* line 434, shopping-index.scss */
  .products-listbox .products-item {
    width: 31.3%;
    background-color: #fff;
    margin-bottom: 12px; }
    /* line 438, shopping-index.scss */
    .products-listbox .products-item .products-title {
      color: #182B56;
      font-weight: bold;
      padding: 0 0.5em; }
    /* line 443, shopping-index.scss */
    .products-listbox .products-item .products-price {
      padding: 0 0.5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      align-items: center; }
      /* line 452, shopping-index.scss */
      .products-listbox .products-item .products-price .price-asking {
        color: tomato;
        font-weight: bold;
        font-size: 1.1em; }
      /* line 457, shopping-index.scss */
      .products-listbox .products-item .products-price .price-original {
        color: gray;
        text-decoration: line-through;
        text-align: bottom;
        font-size: 0.8em;
        text-align: right; }

@media (max-width: 767px) {
  /* line 468, shopping-index.scss */
  .products-listbox {
    padding-left: 4%; }
    /* line 470, shopping-index.scss */
    .products-listbox .products-item {
      width: 30%; } }
@media (max-width: 480px) {
  /* line 476, shopping-index.scss */
  .products-listbox {
    padding-left: 1em; }
    /* line 478, shopping-index.scss */
    .products-listbox .products-item {
      width: 47%; } }
/* shopping-index (masonry) */
/* line 484, shopping-index.scss */
.products-recently {
  padding-top: 1em;
  margin: 0 auto; }
  /* line 487, shopping-index.scss */
  .products-recently .products-item {
    background-color: #fff;
    margin-bottom: 12px;
    border-radius: 0;
    box-shadow: 0;
    width: 48%; }
    @media (min-width: 768px) {
      /* line 487, shopping-index.scss */
      .products-recently .products-item {
        width: 49%; } }
    /* line 496, shopping-index.scss */
    .products-recently .products-item .products-img .img-box {
      border: 1px solid #eee; }
    /* line 499, shopping-index.scss */
    .products-recently .products-item .products-title {
      color: #182B56;
      font-weight: bold;
      padding: 0 0.5em; }
    /* line 504, shopping-index.scss */
    .products-recently .products-item .products-price {
      padding: 0 0.5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      align-items: center; }
      /* line 513, shopping-index.scss */
      .products-recently .products-item .products-price .price-asking {
        color: tomato;
        font-weight: bold;
        font-size: 1.1em; }
      /* line 518, shopping-index.scss */
      .products-recently .products-item .products-price .price-original {
        color: gray;
        text-decoration: line-through;
        text-align: bottom;
        font-size: 0.8em;
        text-align: right; }

/* products-detail */
/* line 530, shopping-index.scss */
.shopping-productsdetail {
  background-color: #fff; }
  /* line 532, shopping-index.scss */
  .shopping-productsdetail .shopping-productsdetailbox {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative; }
  /* line 540, shopping-index.scss */
  .shopping-productsdetail button.active {
    color: #568EE3;
    font-weight: bold; }
  /* line 544, shopping-index.scss */
  .shopping-productsdetail .discount-price {
    z-index: 10;
    position: absolute;
    top: 10px;
    left: 0;
    background: linear-gradient(270deg, #568EE3 0%, #36D1DB 100%);
    padding: 2px 5px;
    color: #fff; }
    /* line 552, shopping-index.scss */
    .shopping-productsdetail .discount-price:before, .shopping-productsdetail .discount-price:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      right: -10px; }
    /* line 561, shopping-index.scss */
    .shopping-productsdetail .discount-price:before {
      border-width: 14px 10px 0 0;
      border-color: #568EE3 transparent transparent transparent;
      top: 0; }
    /* line 566, shopping-index.scss */
    .shopping-productsdetail .discount-price:after {
      border-width: 14px 0 0 10px;
      border-color: transparent transparent transparent #568EE3;
      bottom: 0; }
  /* line 573, shopping-index.scss */
  .shopping-productsdetail .shopping-productsimgbox .swiper-slide {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    /* line 578, shopping-index.scss */
    .shopping-productsdetail .shopping-productsimgbox .swiper-slide img {
      height: 35em;
      width: auto;
      margin-left: auto;
      margin-right: auto; }
  /* line 597, shopping-index.scss */
  .shopping-productsdetail .shopping-productsimgbox .swiper-pagination-fraction {
    bottom: 0.5em;
    right: 0.5em;
    left: auto;
    width: auto;
    padding: 0.2em 0.4em;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5em;
    background-color: #eee;
    opacity: 0.7; }
  /* line 612, shopping-index.scss */
  .shopping-productsdetail .add-favorite {
    float: right;
    position: absolute;
    right: 1em;
    top: .5em;
    z-index: 10; }
  /* line 619, shopping-index.scss */
  .shopping-productsdetail .item {
    padding-top: 1em; }
    /* line 621, shopping-index.scss */
    .shopping-productsdetail .item:nth-child(1) {
      padding-top: 0; }
  /* line 625, shopping-index.scss */
  .shopping-productsdetail .products-title {
    color: #182B56;
    font-weight: bold;
    padding: 0 0.5em; }
  /* line 630, shopping-index.scss */
  .shopping-productsdetail .products-price {
    padding: 0 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center; }
    /* line 639, shopping-index.scss */
    .shopping-productsdetail .products-price .price-asking {
      color: tomato;
      font-weight: bold;
      font-size: 1em; }
      /* line 643, shopping-index.scss */
      .shopping-productsdetail .products-price .price-asking span {
        color: gray;
        font-size: 0.75em;
        text-align: right; }
    /* line 649, shopping-index.scss */
    .shopping-productsdetail .products-price .price-original {
      color: gray;
      text-decoration: line-through;
      text-align: bottom;
      font-size: 0.75em;
      text-align: right; }
  /* line 658, shopping-index.scss */
  .shopping-productsdetail .products-quantity input.form-control.text-center {
    width: 50px;
    padding: 2px 4px;
    height: 1.8em;
    border: 0px; }
  /* line 664, shopping-index.scss */
  .shopping-productsdetail .products-quantity .input-group-btn button {
    font-size: 0.7em;
    padding: 3px 6px; }
  /* line 669, shopping-index.scss */
  .shopping-productsdetail .products-btn-addcart button,
  .shopping-productsdetail .products-btn-buynow button {
    height: 2em; }
  /* line 673, shopping-index.scss */
  .shopping-productsdetail .products-store {
    background-color: #eee;
    padding: 0.5em 0 0 0; }
    /* line 676, shopping-index.scss */
    .shopping-productsdetail .products-store .products-storebox {
      background-color: #fff;
      padding: 0.5em 1em 0 1em; }
    /* line 680, shopping-index.scss */
    .shopping-productsdetail .products-store .products-store-btn button {
      font-size: 0.9em;
      margin-top: 0px;
      width: 80px; }
    /* line 685, shopping-index.scss */
    .shopping-productsdetail .products-store .img-box {
      width: 4.5em;
      height: 4.5em;
      border: 1px #eee solid;
      padding: 10px 5px;
      border-radius: 50%; }
      /* line 691, shopping-index.scss */
      .shopping-productsdetail .products-store .img-box img {
        width: 100%;
        height: auto;
        vertical-align: middle;
        top: 50%;
        transform: translateY(50%); }
    /* line 699, shopping-index.scss */
    .shopping-productsdetail .products-store .store-title {
      font-weight: bold;
      font-size: 0.9em;
      padding-left: 0.5em; }
  /* line 705, shopping-index.scss */
  .shopping-productsdetail .products-storecoupon {
    background-color: #eee;
    padding: 0.5em 0 0 0; }
    /* line 708, shopping-index.scss */
    .shopping-productsdetail .products-storecoupon .products-storecouponbox {
      background-color: #fff;
      padding: 0.5em 1em 0 1em; }
    /* line 712, shopping-index.scss */
    .shopping-productsdetail .products-storecoupon .products-storecoupon-btn button.default-outline-btn {
      font-size: 0.9em;
      margin-top: 0px;
      width: 100px;
      border-radius: 6px; }
    /* line 718, shopping-index.scss */
    .shopping-productsdetail .products-storecoupon .storecoupon-title {
      font-weight: bold;
      font-size: 0.9em;
      padding: 0.5em 0.5em 1em 0.5em; }
  /* line 724, shopping-index.scss */
  .shopping-productsdetail .products-tag {
    background-color: #eee;
    padding: 0.5em 0 0 0; }
    /* line 727, shopping-index.scss */
    .shopping-productsdetail .products-tag .tag-topbox {
      padding: 0 1em; }
      /* line 729, shopping-index.scss */
      .shopping-productsdetail .products-tag .tag-topbox .tag-top {
        background-color: #fff;
        padding: 0 1em;
        z-index: 11;
        top: 49px; }
    /* line 737, shopping-index.scss */
    .shopping-productsdetail .products-tag .products-tagbox {
      background-color: #fff;
      padding: 0.5em 1em 0 1em; }
    /* line 741, shopping-index.scss */
    .shopping-productsdetail .products-tag .tab-content {
      color: #182B56;
      padding-bottom: 3em; }
      /* line 744, shopping-index.scss */
      .shopping-productsdetail .products-tag .tab-content .tab-content-title {
        font-size: 1em;
        padding: 1em 0 0.5em 0; }
      /* line 748, shopping-index.scss */
      .shopping-productsdetail .products-tag .tab-content h6 {
        padding: 4em 0 0.5em 0; }
        /* line 750, shopping-index.scss */
        .shopping-productsdetail .products-tag .tab-content h6:first-child {
          padding: 1.6em 0 0.5em 0; }
      /* line 754, shopping-index.scss */
      .shopping-productsdetail .products-tag .tab-content p {
        font-size: 0.9em; }
      /* line 757, shopping-index.scss */
      .shopping-productsdetail .products-tag .tab-content img {
        width: 100%;
        height: auto; }

@media (max-width: 767px) {
  /* line 765, shopping-index.scss */
  .shopping-productsdetail .products-tag .tag-topbox {
    padding: 0; }

  /* line 769, shopping-index.scss */
  .shopping-productsdetail .shopping-productsdetailbox {
    width: 100%;
    padding-right: 0;
    padding-left: 0; }
  /* line 775, shopping-index.scss */
  .shopping-productsdetail .shopping-productsimgbox .swiper-slide {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    /* line 780, shopping-index.scss */
    .shopping-productsdetail .shopping-productsimgbox .swiper-slide img {
      height: 22em;
      width: auto;
      margin-left: auto;
      margin-right: auto; }
  /* line 799, shopping-index.scss */
  .shopping-productsdetail .shopping-productsimgbox .swiper-pagination-fraction {
    bottom: 0.5em;
    right: 0.5em;
    left: auto;
    width: auto;
    padding: 0.2em 0.4em;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5em;
    background-color: #eee;
    opacity: 0.7; } }
/* shopping-store */
/* line 819, shopping-index.scss */
.shopping-storedetail {
  /*HTML and CSS only multilevel drop down menu*/
  /*-- parent nav--*/
  /*-- Display on hover--*/ }
  /* line 820, shopping-index.scss */
  .shopping-storedetail .shopping-storeup {
    width: inherit;
    position: absolute;
    top: 1%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: stretch; }
  /* line 829, shopping-index.scss */
  .shopping-storedetail .back-go {
    flex: 1; }
  /* line 832, shopping-index.scss */
  .shopping-storedetail .add-favorite {
    flex: 1;
    text-align: right; }
  /* line 836, shopping-index.scss */
  .shopping-storedetail .img-fluid {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px; }
  /* line 841, shopping-index.scss */
  .shopping-storedetail .swiper-pagination-fraction {
    bottom: 1.5em;
    right: 0.5em;
    left: auto;
    width: auto;
    padding: 0.2em 0.4em;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5em;
    background-color: #eee;
    opacity: 0.7; }
    @media (min-width: 980px) {
      /* line 841, shopping-index.scss */
      .shopping-storedetail .swiper-pagination-fraction {
        bottom: 7.5em; } }
  /* line 858, shopping-index.scss */
  .shopping-storedetail .store-container {
    height: auto;
    position: relative;
    margin-top: -1em;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    z-index: 300; }
  /* line 871, shopping-index.scss */
  .shopping-storedetail .nav-container {
    height: 100%;
    background-color: #fff; }
    /* line 875, shopping-index.scss */
    .shopping-storedetail .nav-container nav {
      width: 25%;
      height: inherit; }
      /* line 879, shopping-index.scss */
      .shopping-storedetail .nav-container nav > ul {
        width: 100%;
        height: inherit; }
      /* line 884, shopping-index.scss */
      .shopping-storedetail .nav-container nav li {
        display: block;
        cursor: pointer; }
        /* line 888, shopping-index.scss */
        .shopping-storedetail .nav-container nav li > a {
          display: block;
          position: relative;
          padding: 10px 15px;
          color: #555;
          text-align: center;
          font-size: 14px; }
      /* line 904, shopping-index.scss */
      .shopping-storedetail .nav-container nav .levelOne > li:hover {
        background-color: #f2f5fa; }
      /* line 910, shopping-index.scss */
      .shopping-storedetail .nav-container nav .levelTwo {
        width: 25%; }
        /* line 915, shopping-index.scss */
        .shopping-storedetail .nav-container nav .levelTwo > li:hover {
          background-color: #e5e9f2; }
      /* line 921, shopping-index.scss */
      .shopping-storedetail .nav-container nav .levelThree {
        width: 200%;
        height: 100%;
        background-color: #e5e9f2; }
        /* line 927, shopping-index.scss */
        .shopping-storedetail .nav-container nav .levelThree .filter-all a {
          color: #48a2de; }
        /* line 932, shopping-index.scss */
        .shopping-storedetail .nav-container nav .levelThree a {
          display: flex;
          align-items: center; }
          /* line 936, shopping-index.scss */
          .shopping-storedetail .nav-container nav .levelThree a .material-icons {
            font-size: 18px;
            margin-right: 5px; }
  /* line 945, shopping-index.scss */
  .shopping-storedetail nav > ul > li > ul {
    position: absolute; }
  /* line 949, shopping-index.scss */
  .shopping-storedetail nav > ul > li > ul {
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    background: #f2f5fa;
    display: none; }
  /* line 958, shopping-index.scss */
  .shopping-storedetail nav > ul > li > ul > li > ul {
    position: absolute;
    left: 100%;
    top: 0px;
    bottom: 0;
    display: none;
    z-index: 2;
    bottom: 0;
    overflow: auto; }
  /* line 972, shopping-index.scss */
  .shopping-storedetail nav > ul > li:hover > ul,
  .shopping-storedetail nav > ul > li > ul > li:hover > ul,
  .shopping-storedetail nav > ul > li > ul > li > ul > li:hover ul {
    display: block; }

/* line 978, shopping-index.scss */
.store-container {
  min-height: 550px; }
  /* line 980, shopping-index.scss */
  .store-container .store-info-box {
    background-color: #fff; }
    /* line 982, shopping-index.scss */
    .store-container .store-info-box .shopping-storebox {
      padding: 1em 1em 0 1em; }
    /* line 985, shopping-index.scss */
    .store-container .store-info-box .shopping-store-btn button {
      font-size: 0.9em;
      margin-top: 0px;
      width: 80px; }
    /* line 991, shopping-index.scss */
    .store-container .store-info-box .shopping-store-badge .badge {
      line-height: 2; }
    /* line 995, shopping-index.scss */
    .store-container .store-info-box .store-distance {
      padding: 0 1.5em 0 2em;
      font-size: 0.7em; }
    /* line 999, shopping-index.scss */
    .store-container .store-info-box .store-title {
      font-weight: bold;
      font-size: 1.1em; }
  /* line 1005, shopping-index.scss */
  .store-container .store-tab-box {
    color: #182B56; }
    /* line 1007, shopping-index.scss */
    .store-container .store-tab-box .nav-tabs {
      display: flex; }
      /* line 1010, shopping-index.scss */
      .store-container .store-tab-box .nav-tabs .nav-item {
        flex: 1;
        text-align: center;
        position: relative; }
      /* line 1016, shopping-index.scss */
      .store-container .store-tab-box .nav-tabs .nav-link {
        border-color: #fff #fff #dee2e6; }
        /* line 1018, shopping-index.scss */
        .store-container .store-tab-box .nav-tabs .nav-link:after {
          content: "";
          display: none;
          width: 25%;
          height: 3px;
          background-color: #4a90e2;
          border-radius: 1px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0; }
        /* line 1031, shopping-index.scss */
        .store-container .store-tab-box .nav-tabs .nav-link.active {
          border-color: #fff #fff #dee2e6; }
          /* line 1033, shopping-index.scss */
          .store-container .store-tab-box .nav-tabs .nav-link.active:after {
            display: block; }
    /* line 1040, shopping-index.scss */
    .store-container .store-tab-box .store-group {
      font-size: 14px; }
      /* line 1043, shopping-index.scss */
      .store-container .store-tab-box .store-group .store-item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px;
        border-bottom: 1px #eee solid; }
        /* line 1051, shopping-index.scss */
        .store-container .store-tab-box .store-group .store-item.store-open p {
          max-height: 94px;
          transition: max-height 0.15s ease-out;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          padding-right: 25px; }
        /* line 1062, shopping-index.scss */
        .store-container .store-tab-box .store-group .store-item.store-open .open-btn {
          position: absolute;
          right: 15px;
          bottom: 15px; }
        /* line 1069, shopping-index.scss */
        .store-container .store-tab-box .store-group .store-item.store-open.is-open p {
          max-height: 500px;
          transition: max-height 0.25s ease-in;
          text-overflow: unset;
          display: -webkit-box;
          -webkit-line-clamp: unset;
          -webkit-box-orient: vertical; }
        /* line 1080, shopping-index.scss */
        .store-container .store-tab-box .store-group .store-item.store-itemopen {
          flex-wrap: wrap;
          max-height: auto;
          transition: max-height 0s ease-out; }
          /* line 1086, shopping-index.scss */
          .store-container .store-tab-box .store-group .store-item.store-itemopen .item span {
            margin-right: 5px;
            font-weight: 500; }
          /* line 1092, shopping-index.scss */
          .store-container .store-tab-box .store-group .store-item.store-itemopen .itemopen-list {
            flex: none;
            width: 100%;
            max-height: 0;
            transition: max-height 0.25s ease-out;
            overflow: hidden;
            padding-left: 35px; }
            /* line 1100, shopping-index.scss */
            .store-container .store-tab-box .store-group .store-item.store-itemopen .itemopen-list li {
              display: flex;
              justify-content: space-between;
              line-height: 2; }
              /* line 1105, shopping-index.scss */
              .store-container .store-tab-box .store-group .store-item.store-itemopen .itemopen-list li.this-day {
                font-weight: 500; }
          /* line 1113, shopping-index.scss */
          .store-container .store-tab-box .store-group .store-item.store-itemopen.is-open .item-icon,
          .store-container .store-tab-box .store-group .store-item.store-itemopen.is-open .open-btn {
            align-self: flex-start; }
          /* line 1118, shopping-index.scss */
          .store-container .store-tab-box .store-group .store-item.store-itemopen.is-open ul {
            max-height: 500px;
            transition: max-height 0.5s ease-in; }
        /* line 1125, shopping-index.scss */
        .store-container .store-tab-box .store-group .store-item.is-open {
          max-height: 500px;
          transition: max-height 0s ease-in; }
          /* line 1130, shopping-index.scss */
          .store-container .store-tab-box .store-group .store-item.is-open .open-btn .material-icons {
            transform: rotate(180deg); }
        /* line 1136, shopping-index.scss */
        .store-container .store-tab-box .store-group .store-item .item-icon {
          width: 25px;
          height: 25px;
          background-color: #4a90e2;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px; }
          /* line 1146, shopping-index.scss */
          .store-container .store-tab-box .store-group .store-item .item-icon .material-icons {
            font-size: 18px;
            color: #fff; }
        /* line 1151, shopping-index.scss */
        .store-container .store-tab-box .store-group .store-item .item {
          word-break: break-all; }
    /* line 1158, shopping-index.scss */
    .store-container .store-tab-box .products-listbox {
      background-color: #eee;
      padding-top: 5px;
      padding-left: 5px;
      margin: 0 auto; }
      /* line 1163, shopping-index.scss */
      .store-container .store-tab-box .products-listbox .row {
        margin-right: 0;
        margin-left: 0; }
      /* line 1168, shopping-index.scss */
      .store-container .store-tab-box .products-listbox .col-4:nth-child(n) {
        padding-right: 5px;
        padding-left: 0px; }
      /* line 1172, shopping-index.scss */
      .store-container .store-tab-box .products-listbox .col-4:nth-child(3n+3) {
        padding-right: 5px;
        padding-left: 0px; }
      /* line 1177, shopping-index.scss */
      .store-container .store-tab-box .products-listbox .products-item {
        width: auto;
        background-color: #fff;
        margin-bottom: 5px; }
        @media (max-width: 375px) {
          /* line 1182, shopping-index.scss */
          .store-container .store-tab-box .products-listbox .products-item .price-original {
            display: none; } }
  /* line 1191, shopping-index.scss */
  .store-container .other-discount-list {
    padding: 15px; }
    /* line 1193, shopping-index.scss */
    .store-container .other-discount-list .discount-more {
      text-align: right;
      font-size: 0.8em;
      padding: 0 2px 2px 0; }
    /* line 1198, shopping-index.scss */
    .store-container .other-discount-list .discount-item {
      display: flex;
      margin-bottom: 15px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 15px 10px; }
      /* line 1204, shopping-index.scss */
      .store-container .other-discount-list .discount-item:last-child {
        margin-bottom: 0; }
      /* line 1207, shopping-index.scss */
      .store-container .other-discount-list .discount-item .item {
        flex: none;
        display: flex;
        align-items: center; }
        /* line 1211, shopping-index.scss */
        .store-container .other-discount-list .discount-item .item:nth-of-type(2) {
          flex: 1;
          margin-left: 10px; }
        /* line 1215, shopping-index.scss */
        .store-container .other-discount-list .discount-item .item:last-child {
          margin-left: auto;
          position: relative;
          padding: 10px;
          padding-right: 0; }
          /* line 1220, shopping-index.scss */
          .store-container .other-discount-list .discount-item .item:last-child .line-box {
            display: block;
            width: 1px;
            height: 70%;
            background-color: #eee;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%); }
          /* line 1230, shopping-index.scss */
          .store-container .other-discount-list .discount-item .item:last-child .circle {
            position: absolute;
            width: 17px;
            height: 17px;
            background-color: #fff;
            left: -8px; }
            /* line 1236, shopping-index.scss */
            .store-container .other-discount-list .discount-item .item:last-child .circle.circle-top {
              top: -24px; }
            /* line 1239, shopping-index.scss */
            .store-container .other-discount-list .discount-item .item:last-child .circle.circle-bottom {
              bottom: -24px; }
          /* line 1243, shopping-index.scss */
          .store-container .other-discount-list .discount-item .item:last-child .m-quantity {
            position: absolute;
            font-size: 0.9em;
            width: 1em;
            white-space: nowrap;
            text-align: center;
            bottom: -10px;
            left: 24px; }
          /* line 1252, shopping-index.scss */
          .store-container .other-discount-list .discount-item .item:last-child:before, .store-container .other-discount-list .discount-item .item:last-child:after {
            content: "";
            width: 17px;
            height: 10px;
            background: #fff;
            border-bottom: none;
            border-radius: 8px 8px 0 0;
            position: absolute;
            z-index: 50;
            left: -8px; }
          /* line 1263, shopping-index.scss */
          .store-container .other-discount-list .discount-item .item:last-child:before {
            top: -15px;
            transform: rotate(180deg);
            box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15); }
          /* line 1268, shopping-index.scss */
          .store-container .other-discount-list .discount-item .item:last-child:after {
            bottom: -15px;
            box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15); }
        /* line 1273, shopping-index.scss */
        .store-container .other-discount-list .discount-item .item .img-box {
          width: 80px;
          border: 1px #eee solid;
          padding: 10px 5px;
          border-radius: 5px; }
        /* line 1279, shopping-index.scss */
        .store-container .other-discount-list .discount-item .item img {
          width: 100%; }
        /* line 1282, shopping-index.scss */
        .store-container .other-discount-list .discount-item .item .default-btn {
          margin-top: 0;
          border-radius: 100px;
          padding: 5px 20px;
          font-size: 14px;
          font-weight: bold; }
      /* line 1290, shopping-index.scss */
      .store-container .other-discount-list .discount-item .discount-text {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; }
        /* line 1295, shopping-index.scss */
        .store-container .other-discount-list .discount-item .discount-text p:first-child {
          color: #182B56;
          font-weight: 700; }
        /* line 1299, shopping-index.scss */
        .store-container .other-discount-list .discount-item .discount-text p:last-child {
          color: #182B56;
          width: 100%;
          font-size: 70%; }

/* shopping cart */
/* line 1312, shopping-index.scss */
.products-title {
  color: #182B56;
  font-weight: bold;
  padding: 0 0.5em; }

/* line 1319, shopping-index.scss */
.shopping-cartlist ul.list-unstyled li {
  padding: 0 0 0 0.5em;
  border-bottom: 1px solid #f8f8f8; }
  /* line 1322, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li img {
    height: 1.8em; }
  /* line 1325, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .store-title {
    height: 3em; }
  /* line 1329, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .products-sitem .sitem-checkbox {
    width: 26px; }
  /* line 1332, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .products-sitem .sitem-img {
    width: 80px; }
  /* line 1335, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .products-sitem .sitem-title {
    width: 70%; }
    /* line 1337, shopping-index.scss */
    .shopping-cartlist ul.list-unstyled li .products-sitem .sitem-title small {
      color: #6c757d; }
  /* line 1342, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .products-sitem .products-quantity input.form-control.text-center {
    width: 50px;
    padding: 2px 4px;
    height: 1.8em;
    border: 0px; }
  /* line 1348, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .products-sitem .products-quantity .input-group-btn button {
    padding: 2px 3px;
    line-height: 1em;
    font-size: 0.7em; }
  /* line 1355, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .price-asking {
    color: tomato;
    font-weight: bold;
    text-align: right; }
  /* line 1360, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .price-original {
    color: gray;
    text-decoration: line-through;
    text-align: bottom;
    font-size: 0.75em;
    text-align: right; }
  /* line 1367, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .col-9 {
    padding-right: 0px;
    padding-left: 10px; }
  /* line 1371, shopping-index.scss */
  .shopping-cartlist ul.list-unstyled li .col-3 {
    white-space: nowrap;
    padding-right: 0px;
    padding-left: 5px; }
    /* line 1375, shopping-index.scss */
    .shopping-cartlist ul.list-unstyled li .col-3 .products-delbtn {
      display: none;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: tomato; }
/* line 1384, shopping-index.scss */
.shopping-cartlist ul.list-unstyled li.linebt-row10 {
  border-bottom: 10px solid #f8f8f8;
  padding: 0;
  height: 10; }

/* line 1393, shopping-index.scss */
.shopping-cartfooter {
  box-shadow: 1px 1px 5px 0px #ccc; }
  /* line 1395, shopping-index.scss */
  .shopping-cartfooter .shopping-coupon {
    box-shadow: 1px 1px 5px 0px #ccc;
    display: none;
    height: 90px;
    background-color: #fff;
    color: #182B56;
    font-weight: bold;
    font-size: 0.9em; }
    /* line 1403, shopping-index.scss */
    .shopping-cartfooter .shopping-coupon .coupon-box {
      padding: .5em; }
    /* line 1406, shopping-index.scss */
    .shopping-cartfooter .shopping-coupon img {
      height: 1.5em; }
  /* line 1410, shopping-index.scss */
  .shopping-cartfooter .subtotal-info {
    border-top: 1px solid #f8f8f8;
    background-color: #fff;
    padding: .5em;
    line-height: 1.3; }
    /* line 1415, shopping-index.scss */
    .shopping-cartfooter .subtotal-info .price-subtotal {
      color: #22C2D3;
      font-weight: bold;
      font-size: 1.1em; }

/*# sourceMappingURL=shopping-index.css.map */
