/* line 3, travel-index.scss */
.travel h6 {
  font-weight: bold;
  margin: 0.5em 0; }

/* travel-icon */
/* travel-hot */
/* line 35, travel-index.scss */
.travel-hot {
  overflow-x: visible;
  width: 100%; }
  /* line 38, travel-index.scss */
  .travel-hot .col-12 {
    padding-right: 0px;
    padding-left: 0px; }
  /* line 42, travel-index.scss */
  .travel-hot .hot-body {
    width: 100%;
    text-align: left; }
    /* line 45, travel-index.scss */
    .travel-hot .hot-body a.txt-line-clamp2 {
      font-size: 0.9em;
      font-weight: 700;
      color: #343a40; }
    /* line 50, travel-index.scss */
    .travel-hot .hot-body a.txt-line-clamp3 {
      font-size: 0.8em;
      color: #343a40;
      font-weight: 400; }

/* travel topic */
/* line 69, travel-index.scss */
.travel-topic {
  background-color: #1E4067;
  color: #fff;
  overflow-x: visible;
  width: auto; }

/* line 83, travel-index.scss */
.topic-body {
  text-align: left; }
  /* line 85, travel-index.scss */
  .topic-body a.txt-line-clamp1 {
    font-size: 0.9em;
    font-weight: 700;
    color: #fff; }
    /* line 89, travel-index.scss */
    .topic-body a.txt-line-clamp1:last-child {
      font-size: 0.8em;
      color: #fff;
      font-weight: 400; }

/* line 97, travel-index.scss */
.topic-img-top {
  border-radius: .4rem;
  overflow: hidden;
  position: relative;
  padding-left: 0;
  padding-right: 0; }

/* line 104, travel-index.scss */
.topic-img-top label {
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 10px #333; }

/* travel featured */
/* line 115, travel-index.scss */
.travel-featured {
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  height: 490px; }
  /* line 117, travel-index.scss */
  .travel-featured h6 {
    font-weight: bold;
    padding: .25em 0; }
  @media (min-width: 991px) and (max-width: 1024px) {
    /* line 115, travel-index.scss */
    .travel-featured {
      height: 530px; } }
  @media (min-width: 376px) and (max-width: 480px) {
    /* line 115, travel-index.scss */
    .travel-featured {
      height: 430px; } }
  @media (min-width: 321px) and (max-width: 375px) {
    /* line 115, travel-index.scss */
    .travel-featured {
      height: 390px; } }
  @media (max-width: 320px) {
    /* line 115, travel-index.scss */
    .travel-featured {
      height: 380px; } }

/* line 139, travel-index.scss */
.travel-featured .tab-pane {
  position: absolute; }

/* line 145, travel-index.scss */
.travel-featuredbox .item-body {
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  text-align: left; }
/* line 150, travel-index.scss */
.travel-featuredbox .item-img {
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  width: 100%;
  height: auto; }
/* line 156, travel-index.scss */
.travel-featuredbox .item-title {
  font-weight: bold;
  color: #333; }
/* line 160, travel-index.scss */
.travel-featuredbox .item-info {
  line-height: 1.6em;
  margin-bottom: 10px;
  font-size: 0.8em; }
/* line 168, travel-index.scss */
.travel-featuredbox .item-title {
  padding: 2px 10px;
  font-weight: bold;
  font-size: 0.9em; }
/* line 174, travel-index.scss */
.travel-featuredbox .item-location,
.travel-featuredbox .item-price,
.travel-featuredbox .item-date {
  padding: 1px 10px;
  color: #333; }
  /* line 180, travel-index.scss */
  .travel-featuredbox .item-location .price-asking,
  .travel-featuredbox .item-price .price-asking,
  .travel-featuredbox .item-date .price-asking {
    color: tomato;
    font-weight: bold;
    font-size: medium; }
/* line 186, travel-index.scss */
.travel-featuredbox a .item-day {
  color: #6c757d; }
/* line 189, travel-index.scss */
.travel-featuredbox .item-keyword {
  padding: 2px 5px;
  overflow: hidden;
  height: 45px; }
  @media screen and (min-width: 768px) {
    /* line 189, travel-index.scss */
    .travel-featuredbox .item-keyword {
      height: 26px; } }
  /* line 197, travel-index.scss */
  .travel-featuredbox .item-keyword span {
    white-space: nowrap;
    color: #333;
    border: 1px #8E8E93 solid;
    border-radius: 3px;
    padding: 0 2px;
    font-size: 12px;
    margin: 5px; }

/*# sourceMappingURL=travel-index.css.map */
