@import '../../styles/module/variable';

/** 我的卡片 */
.btn-img{
    img{
        height: 24px;
    }
}
.cardnum-title{
    text-align: center;
    background: $gray-light8;
    padding: .5em;
}
.cardnum{
    padding: 1em;
    text-align: center;
    color: $index-default;
    img{
        width: 300px;
        @media (max-width: 480px) {
            width: 200px;
        }
    }
} 

/** 退貨returns */
.upload-dot{
    border: 2px;
    border-color: $index-default; 
    border-style:dashed;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    color: $index-default;
    .add-txt{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, 0);    
        white-space: nowrap;
    }
    .add-btn img{
        width: 40px;
    }
}
.uploadimg{
    height: 100px;
    border-radius: 5px;
    border: 1px solid #eee;
}

/** myfavorite我的收藏 */
.favorite-explore{
    padding: 15px;  
    >div{
        border-bottom: 1px #eee solid;
    }
    a.d-flex{
        color: $blue-dark;
    }   
    a.item-explore {
        color: $explore-default;
    }
    .img-box {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
        margin: .5em;
        img {
            width: 100%;
        }
    }
    .item-del{
        font-size: small;
        white-space: nowrap;
        padding: 1em;
        color: #fff;
        background: $member-default;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #fff;
    }
    .info-box {
        flex: 1;
        margin: .5em;
        .text-member {
            color: $member-default;
        }
        .info-list {
            height: 100%;
            display: flex;
            flex-direction: column;            
        }

        .info-name {
            font-weight: 600;
            font-size: 1em;
        }

        li {
            font-size: small;
        }          
        .item-tag{
            margin: 5px 5px 5px 0;
            margin-right: 5px;
            color: $member-default;
            border-color: $member-default;
        }
        .price-asking{
            color: tomato;
            font-size: 1.2em;
            font-weight: 700;
        }
        .price-original{
            color: gray;
            text-decoration: line-through;
        }
        .info-province{
            font-size: small;
            color: gray;
        }
    }
}
.item-ticket {
    font-size: xx-small;
    color: $member-default;
    padding: 0 6px;
    background: transparent;
    border-radius: 10rem;
    border-top: 1px solid $member-default;
    border-bottom: 1px solid $member-default;
    border-left: 1px solid $member-default;
    border-right: 1px solid $member-default;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    img {
        height: 2.3em;
    }
}
.brightness{
    &:before{
        color: #fff;
        content: '已下架';
        display: block;
        position: absolute;
        left: inherit;
        transform: translate(50%, 150%);
        z-index: 1;
    }
    .img-box{
        filter: brightness(0.40);
    }
    ul{
        filter: grayscale(100%);
        opacity: .45;
    }
}

/* member return */
.return-box{
    .reason-list{
        color: $blue-dark;
        li{
            border-bottom: 1px solid #eee;
            padding: .5em 1em;
            &:first-child{
                border-top: 1px solid #eee;
            }
            &.active{
                color: $index-default;
                &:after{
                    content:"✔";
                    float: right;
                }
            }
        }
    }
}
.returnInfo{
    p{
        font-size:small;
        padding: 1em;
    }
}

