@import '../../styles/module/variable';

.bg-mission{
    background: $mission-color;
}
.dedpoint{
    font-size: small;
    color: $blue-dark;
}
.text-mission{
    font-size: .9em;
    color: $mission-color;
}
.img-fluid{
    width: 100%;
    height: auto;
}

.conopybox-top{
    padding: 1.2em 0;
    background: transparent !important;
    position: relative;
    img{
        height: 2em;
    }
    .conopybox{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 40px;
        display: flex;
        overflow: hidden;
        justify-content: center;
    }
    .canopy-l{
        background-image: url('https://wu-medoc.github.io/eyesmedia_afp/img/mission/canopy_l.png');
        background-position: right;
        background-repeat: repeat-x;
        background-size: contain;
        flex:auto;
        height: 40px;
        min-width: 92px;
        @media (max-width: 375px) {
            display:none;
        }
    }
    .canopy-c{
        background-image: url('https://wu-medoc.github.io/eyesmedia_afp/img/mission/canopy_c.png');
        background-position: center;
        background-repeat: repeat-x;
        background-size: contain;
        min-width: 383px;
        height: 40px;
        @media (max-width: 375px) {
            width: 100%;
            height: 40px;
        }
    }
    .canopy-r{
        background-image: url('https://wu-medoc.github.io/eyesmedia_afp/img/mission/canopy_r.png');            
        background-position: left;
        background-repeat: repeat-x;
        background-size: contain;
        flex:auto;
        height: 40px;
        min-width: 92px;
        @media (max-width: 375px) {
            display:none;
        }
    }
}
.mobiicoin-num{
    font-size: 1.2em;
    font-weight: 700;
    color: $index-default;
}
.brder-mission{
    border-bottom: 4px solid #418BBD;
    border-right: 4px solid #418BBD;
    border-left: 4px solid #0A3450;
    border-top: 1px solid #0A3450;
}


.winmsg{
    text-align: center;
    align-items: center;
    justify-content: center;
    .winbtn{
        position: absolute;
        right: 0;
        font-size: 1.5em;
        color: $blue-dark;
    }
    .winbox{
        background-image: url('https://wu-medoc.github.io/eyesmedia_afp/img/mission/bg-win.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        .wincontbox{
            background-color: #fff;
            text-align: center;;
            align-items: center;
            border: 1px solid #f8f8f8;
            border-radius: .5em;
            padding: 1em;
            margin: 2em 1em;
            box-shadow: 5px 10px 8px #eee;       
            img{
                max-width: 100px;
            } 
        }
    }
}

.scratch-rules, 
.luckspin-rules{
    .rulescontext{
        padding: 1em;
        label{
            font-weight: 700;
        }
        ul{
            padding: 0 1em 1em 1em; 
            li{
                font-size: small;
            }
        }
    }
}
