@import './explore-list.scss';

.mapbox{
    height: 100vh;
  }
  
  .explore-swiper{
    position: absolute;
    bottom: 3em;
    width: 100%;
    z-index: 1;
    .swiper-container{
        padding: 0 10px;
    }
    .swiper-slide{
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
    }
  }
  .store-slider {
    height: 230px;
    position: relative;
  
    .slider-box,
    .slick-list,
    .slick-track,
    .img-box {
        height: inherit;
    }
  
    .slider_counter {
        position: absolute;
        bottom: 30px;
        right: 15px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #e5e9f2;
        border-radius: 100px;
        padding: 1px 10px;
        font-size: 14px;
    }
  }
  .store-info-box {
    .card-item {
        min-height: 110px;
        border-bottom: none;
  
        .info-box {
            padding-left: 0;
  
            .item-ticket {
                background: none;
                padding: 5px 0;
            }
        }
    }
  
  }
  
  
  #map {
    height: calc(98vh - 118px);
    z-index: 0;
  }
  
  .auto-left {
    margin-left: auto;
  }
  
  /*HTML and CSS only multilevel drop down menu*/
  /*-- parent nav--*/
  .nav-container {
    height: 100%;
    background-color: $default-white;
  
    nav {
        width: 25%;
        height: inherit;
  
        >ul {
            width: 100%;
            height: inherit;
        }
  
        li {
            display: block;
            cursor: pointer;
  
            >a {
                display: block;
                position: relative;
                padding: 10px 15px;
                color: #555;
                text-align: center;
                font-size: 14px;
            }
        }
  
        // .levelOne, .levelTwo, .levelThree{
        //     overflow-y: auto;
        // }
        .levelOne {
            >li {
  
                &:hover {
                    background-color: #f2f5fa;
                }
            }
        }
  
        .levelTwo {
            width: 25%;
  
            >li {
  
                &:hover {
                    background-color: #e5e9f2;
                }
            }
        }
  
        .levelThree {
            width: 200%;
            height: 100%;
            background-color: #e5e9f2;
  
            .filter-all {
                a {
                    color: #48a2de;
                }
            }
  
            a {
                display: flex;
                align-items: center;
  
                .material-icons {
                    font-size: 18px;
                    margin-right: 5px;
                }
            }
        }
    }
  }
  
  nav>ul>li>ul {
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    background: #f2f5fa;
    display: none;
  }
  
  nav>ul>li>ul>li>ul {
    position: absolute;
    left: 100%;
    top: 0px;
    bottom: 0;
    display: none;
    z-index: 2;
    // background: #E5E9F2;
    bottom: 0;
    overflow: auto;
  }
  
  /*-- Display on hover--*/
  
  nav>ul>li:hover>ul,
  nav>ul>li>ul>li:hover>ul,
  nav>ul>li>ul>li>ul>li:hover ul {
    display: block;
  }
  