@import '../module/variable';

#clock{
    font-size: small;
    .item-time{
        background: $blue-dark;
        border-radius: .25em;
        color: #fff;
        padding: 2px 4px;
        margin: 1px;
    }
}
#time-hours,
#time-minutes,
#time-seconds{
    background-color: $cardfooter-color;
    border-radius: 5px;
    color: #fff;
    padding: 2px 4px;
    margin: 1px;
}
.rwdimg.logo-img{
    //border: 1px $gray-light solid;
    width: 80px;
    height: 80px;
    @media screen and (max-width: 571px) {            
        width: 60px;
        height: 60px;
    }   
}
.auto-left{
    margin-left: auto;
    text-align: right;
    right: 10px;
    position: absolute;
}
/* 優惠券offers */
.other-discount-list{
    background: #fff;
    padding: 0;
    .discount-more{
        color: $blue-dark;
        text-align: right;
        font-size: 0.8em;
        padding: 0 2px 4px 0;
    }
    .discount-box {        
        padding-right: 15px;
        padding-left: 0px;
        &:nth-child(2n+0){            
            padding-right: 0px;
            padding-left: 0px;
        }
        @media (max-width: 767px) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    .discount-item{
        background: #fff;
        display: flex;
        margin-bottom: 15px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 12px 10px;
        .item{
            flex: none;
            display: flex;
            align-items: center;
            &:nth-of-type(2){
                flex: 1;
                margin-left: 10px;
            }
            &:last-child{
                margin-left: auto;
                position: relative;
                padding: 10px;
                padding-right: 0;
                min-width: 75px;
                text-align: center;
                button{
                    min-width: 65px;
                }
                .line-box{
                    display: block;
                    width: 1px;
                    height: 70%;
                    background-color: #eee;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .circle{
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    background-color: #fff;
                    left: -8px;
                    &.circle-top{
                        top: -24px;
                    }
                    &.circle-bottom{
                        bottom: -24px;
                    }
                }
                &:before, &:after{
                    content: "";
                    width: 17px;
                    height: 10px;
                    background: #fff;
                    border-bottom: none;
                    border-radius: 8px 8px 0 0;
                    position: absolute;
                    z-index: 50;
                    left: -8px;
                }
                &:before{
                    top: -15px;
                    transform: rotate(180deg);
                    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);
                }
                &:after{
                    bottom: -15px;
                    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);
                }
            }
            .img-box{
                border: 1px $gray-light solid;
                padding: 10px 5px;
                border-radius: 5px;
                img{
                    width: 50px;
                }
            }
            img{
                width: 100%;
            }
            .default-btn{
                margin-top: 0;
                border-radius: 100px;
                padding: 5px 20px;
                font-size: small;
                font-weight: bold;
            }
        }
        .discount-text{
            width: auto;
            @media (max-width: 570px) {                   
                max-width: 360px;
            }
            @media (max-width: 480px) {                   
                max-width: 235px;
            }
            @media (max-width: 375px) {                    
                max-width: 170px;
            }
            @media (max-width: 320px) {                    
                max-width: 130px;
            }
            @media (min-width: 768px) {                
                max-width: 160px;
            }
            @media (min-width: 992px) {             
                max-width: 280px;
            }
            @media (min-width: 1200px) {             
                max-width: 360px;
            }
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            color: $blue-dark;
            font-size: .9em;
            p{     
                max-height: 3em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                 -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                &:first-child{
                    font-weight: 700;
                }
                &:last-child{
                    width: 100%;
                    font-size: x-small;
                    color: $gray-color;
                }
                .material-icons{
                    font-size: small;
                }  
            }
        }
        .m-quantity{
            img{
                width: 1.2em;
            }
        }
    }
}
/* ticket */
.main-ticket-box{
    position: relative;
    padding: 1em;
    .ticket-top-bg{
        height: 26px;
        background: #D9A77A;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 8px;
        margin: 0 -10px;
        .line{
            height: 10px;
            background: #828282;
            border-radius: 5px;
        }
    }
    .ticket-content{
        margin-top: -12px;
        background-color: $default-white;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0,0,0,.2);
        padding: 0;
        position: relative;
        .circle{
            color: #fff;
            position: absolute;
            width: 100%;
            bottom: -13px;
            background-image: url("../img/member/circle.svg");
            background-repeat: repeat-x;
        }
        .img-box {
            padding: 1em;
            img{
                width: 100%;
                border: 1px solid #eee;
            }
        }
        .ticket-mark{
            position: absolute;
            top: 1em;
            left: 1em;
            background: radial-gradient(50% 50% at 50% 50%, #E44D26 0%, #F06428 100%);
            padding: 2px 5px;
            color: $default-white;
            &:before, &:after{
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                right: -10px;
            }
            &:before{
                border-width: 14px 10px 0 0;
                border-color: #F06428 transparent transparent transparent;
                top: 0;
            }
            &:after{
                border-width: 14px 0 0 10px;
                border-color: transparent transparent transparent #F06428;
                bottom: 0;
            }
        }
        .ticket-detailrow{
            color: $blue-dark;
            border-top: 1px solid #eee;
            font-size: 1em;
        }
    }
}


/* progress */
.card-text{
    .offers-progress{
        border-radius: 5em;
        background: #FFCFB3;
        .progress-bar{
            background: $index-default;
        }
        .offers-progress-txt{
            color: white;
            position: absolute;
            text-align: center;
            width: 100%;
            align-items: center;
            align-self: center;
            left: 0;
        }
    }
    &.unable{
        .offers-progress{
            background: $gray-color;
            .progress-bar{
                background: $gray-color;
            }
        }
    }
}